[2012-12-09 04:38] timdream opened #1 "index.html"
Should be demo + showcase.

[2012-12-09 04:39] timdream opened #2 "automated (unit) tests with QUnit"
investigate possibility to do automate tests with image pixel-by-pixel comparison.

[2012-12-19 05:06] timdream opened #3 "Use typed array for the grid instead of a 2d array"
So that the calculation might be faster?

[2012-12-24 16:11] #2 closed, assigned to timdream

[2012-12-24 16:12] timdream opened #4 "semi-transparent backgroundColor test doesn't work with compareCanvas()"

[2012-12-26 03:20] timdream opened #5 "option audit"
some of names are strange

[2012-12-26 03:22] timdream opened #6 "center the origin of text canvas and support all-direction rotation"
let the `getTextInfo` function handle rotation so that no more dup of code elsewhere based on `rotate` variable.

[2012-12-26 03:23] timdream opened #7 "interactive"
provide hover and click callback for canvas... it will be fun!

[2012-12-26 09:02] Wikinaut opened #8 "In the introduction of wordcloud2.js, not all parameters are listed"
at least I found that "rotateRatio" is missing in the list

[2012-12-28 17:21] #1 closed, assigned to timdream

[2013-01-07 07:01] timdream opened #9 "[front-end] webkitBackingStorePixelRatio"
the current front-end might generate extra rendering work, or worse, break, on Safari 6 rMBP?

ref http://www.html5rocks.com/en/tutorials/canvas/hidpi/

[2013-01-07 08:41] #9 closed, assigned to timdream

[2013-03-07 14:43] #5 closed, assigned to timdream

[2013-03-07 14:44] #8 closed, assigned to timdream

[2013-04-27 14:46] timdream opened #10 "Unit tests for setImmediate"
It would be nice if we could verify `window.setImmediate()` shim/native implementation works on a given browser.

[2013-04-27 18:11] #6 closed, assigned to timdream

[2013-05-07 02:54] timdream opened #11 "Verify canvas performance"
http://www.holovaty.com/writing/in-defense-of-canvas/

Maybe we could save some `fillStyle` calls?

[2013-05-08 04:10] timdream opened #12 "Compare the box height/width of the text with the canvas before jumping into loop"
That will save us a lot of time trying every place on the canvas. :-/

[2013-07-04 05:25] #7 closed, assigned to timdream

[2013-07-04 06:58] timdream opened #13 "Visual for hover"
We should somehow be able to highlight the word that is currently being hovered to indicate it's click-ability -- at least we should expose the information for external script to draw such visual.

[2013-07-05 18:50] #12 closed, assigned to timdream

[2013-07-05 18:50] #13 closed, assigned to timdream

[2013-07-09 22:28] lafncow opened #14 "Crashes on large word sizes"
If the size for a word is too large, the script will crash on line 509 of the getTextInfo method, ie:

[code]

...giving this error:

It can be duplicated by running this on a 800px x 1200px canvas:

[code]

I may be mistaken, but my expected behavior was that the entire cloud would scale down so that the extra large word(s) fit.

This happens in Chrome, I have not tested other browsers.

[2013-07-10 03:00] timdream opened #15 "Font awesome icons"
http://fortawesome.github.io/Font-Awesome/

[2013-09-18 10:24] becomingGuru opened #17 "WordClick doesn't take the current window zoom into effect"
In the file https://github.com/timdream/wordcloud2.js/blob/master/src/wordcloud2.js the function getInfoGridFromMouseEvent ( https://github.com/timdream/wordcloud2.js/blob/2f1e3e6b95e325374e78198c17042df64da2a4b9/src/wordcloud2.js#L340 ) doesn't take window.zoom into account.

[2013-12-14 12:53] ia3andy opened #18 "How to make sure all words are displayed in canvas"
Thanks for your very good plugin!

In my case, the weight of each words is a number of occurrences. I use the weightFactor function in order to normalize it. The problem is depending on the rotation random some big weighted words are shown or not.
I can change de size of my canvas but by doing so I have sometimes big empty places.
- Having some normalize functions choices would be a good enhanceme

[2013-12-22 23:13] aheissenberger opened #19 "Example "Web Technologies" does not support HOVER on IE 9-10 / FIXED"
please replace " $box.prop('hidden', true);" and "$box.prop('hidden', false);" with " $box.hide();" and "$box.show();"

[code]

[2014-01-23 07:40] timdream opened #20 "Use willReadFrequently on font drawing canvases"
https://bugzilla.mozilla.org/show_bug.cgi?id=884226

A new Gecko feature available, enabling us to not throwing canvases to hardware accelerated backend. We should use that on font drawing canvas.

[2014-02-01 11:31] #20 closed, assigned to nobody

[2014-03-23 08:16] rse opened #23 "click event broken for HTML (non-canvas) rendering (ad-hoc ugly fix included)"
The "click" event is broken (the code fails with an exception on line `return infoGrid[x][y];`because `infoGrid` is not filled for the plain HTML case at all) in case one renders plain HTML (the non-canvas variant), because the internal getInfoGridFromMouseEvent() function is not aware of the plain HTML case at all. For my case (where I don't need the dimension information at all) I've ugly fixed

[2014-03-23 08:18] rse opened #24 "Enhancement: allow fontWeight and fontFamily to be callbacks, too"
I wanted to render a wordcloud where the words use different(!) font families and weights. This is not supported, but can easily be supported similar to the way the individual coloring is supported: with the help of callback functions. Find below my enhancement which does exactly this (only documentation update missing, but code is complete):

<pre>
--- bower_components/wordcloud2.js/src/wordcloud

[2014-03-27 10:00] seanchow opened #25 "Real time update the wordcloud"
According to the sample code,
WordCloud(document.getElementById('my_canvas'), { list: list } );

If I get the array 'list' from my MYSQL database, and show on my web, this works perfectly. But how can I refresh the wordcloud while just one more data is added to the array "list"? I dont think refresh the whole php is good, as my array 'list' is quite big, so that the animation time for they all app

[2014-03-28 03:20] #25 closed, assigned to nobody

[2014-03-28 21:58] JacquiManzi opened #26 "Hover over word element broken for non HTML5 canvas word clouds"
I am getting a Uncaught TypeError: Cannot read property 'NaN' of undefined when using the hover callback.

Digging into the code I see this:

[code]

In my particular case, `var canvas = evt.target;` is not an HTML5 canvas element and does not have a `.width` or `.height` property. This does work if I place my word cloud in an HTML5 canvas, however.

[2014-04-15 14:04] #4 closed, assigned to nobody

[2014-06-10 01:55] gudaoxuri opened #30 "container offset process"
please add `el.offsetLeft` and `el.offsetTop`  like this:

[code]

[2014-06-17 03:28] lukemunn opened #31 "Text box width, which would allow multiline phrases"
Is there anyway to limit the width of the text box to a few words or a certain number of pixels? I've gone through the source and can't see how I would do this. I have longer phrases (3-8 words) that I'd love to make into a cloud as multiline 'chunks' of text. Right now they're all single lines which really doesn't work. Tips, tricks appreciated. ;-)

[2014-08-01 12:58] Der-K-2000 opened #33 "Responsive width?"
Could somebody please tell me how to us a responsive width for the canvas-element?

I mentioned the "issue" at stackoverflow: http://stackoverflow.com/questions/25079736/responsive-width-with-wordcloud2-js-canvas-html5-element

[2014-08-01 15:00] #33 closed, assigned to nobody

[2014-08-12 07:06] theBear opened #34 "Problem with Chrome and Win8.1?"
Hello, I use your wonderful wordcloud for http://www.floskelwolke.de

By chance I could see a post on G+ (https://plus.google.com/u/0/+borgdrone/posts/W9f5PQ6gdBv), where the font is incorrect, curiously only with the biggest keyword.

The one, who made the screenshot, told me, he uses Win 8.1 and Chrome.

I have Win7 and tested it also with Google Chrome and couldn't see any probs with the font w

[2014-09-26 21:21] steel opened #36 "Problem with window zoom"
Steps to reproduce:

Increase Window zoom in Chrome to 110% or higher and load up http://timdream.org/wordcloud2.js/#love

You'll notice that the JS goes into an infinite loop and refuses to render any wordclouds. I've narrowed it down to the grid detection code in `getTextInfo` however I'm not familiar enough with your code to go much further.

[2014-10-10 01:30] #23 closed, assigned to nobody

[2014-10-15 15:36] HedgeShot opened #39 "tooltip on hover"
Hi,

First of all, thank you for this great tool. I am not so advanced in JS and this allowed me to make a great Tag Cloud for my website.

I have a been working all day on trying to get the jQuery Tooltip to work without success. It is working well on a "test" <div> that never changes in the HTML page with the following JS code:

[code]
But I can't make it work with the hover function of your too

[2014-12-14 15:00] rraa17 opened #40 "wordcloud2 on div?"
hi,
on <canvas> I get a beautiful cloud, but when I change the tag to <div> there's nothing
(checked the HTML with firebug - nothing built)

why?

thanks

rraa17

[2015-04-14 20:28] Aaike opened #41 "please tag a release"
Hi could you please tag a release version for this library ? it would help with my package manager.

[2015-04-15 03:25] timdream commented on #41
@Aaike Which package manager you are using? Can you specify a hash instead?

I am happy to tag it for you but I don't know the version scheme I should be using.

[2015-04-15 03:26] timdream commented on #40
@rraa17 I am closing this issue because I have not enough information to help you. You can't attach a file to Github issue by mailing it.

[2015-04-15 03:26] #40 closed

[2015-04-15 03:29] timdream commented on #39
Sorry for the late reply. I don't know if you are trying to draw a cloud on a `<canvas>` element or a `<div>`. You should draw on a `<div>` and get the elements drawn and call `$(el).tooltip()` on them.

Please comment if you need further assistance.

[2015-04-15 03:29] #39 closed

[2015-04-15 03:30] timdream commented on #36
Fixed by #37.

[2015-04-15 03:30] #36 closed

[2015-04-15 03:34] timdream commented on #34
@theBear Sorry for the late reply. The demo page process the input directly on the browser so I am not tracking anything. So what I need here is a set of parameters of the call to tell if it breaks generally or just on Chrome + Windows 8.1. If you still have these please paste them here. Thanks!

[2015-04-15 03:36] timdream commented on #31
@lukemunn Please break them into separate items on the list. You can do `longPhrases.split(' ')` to get an array of words to put into the list.

[2015-04-15 03:36] #31 closed

[2015-04-15 05:41] timdream commented on #19
@aheissenberger Hi, I've just tried on Win7 + IE11 again and the current page works. Please comment if you think there is more action to do here.

[2015-04-15 05:41] #19 closed

[2015-04-15 05:49] timdream commented on #17
After hunting for documentation, I realized `zoom` property is not a standardized property (only available on IE and Chrome/Safari) so it will be hard to counter-act it's effect in JavaScript.

I would recommend you talk to the author of reveal.js and have that script to use `transform` property instead.

In the mean time you could recalculate the dimensions in your own `hover` callback, or simply

[2015-04-15 05:49] #17 closed

[2015-04-15 09:04] Aaike commented on #41
Hi i'm using jspm, it uses normal semver ranges.

[2015-04-20 18:54] antonioj1015 opened #42 "Shape generator not working"
I uploaded a black and white image but as soon as I loaded it appears a black and green image.  Isn't there a more simple way to create a custom shape? Or am I doing something wrong?

I'll be using the Silhouette of a men and a women....this is an image I tried it out with (Not the one I'll be using, just for testing)...
![sin titulo](https://cloud.githubusercontent.com/assets/5767462/7237922/8031

[2015-04-28 02:09] lzxue commented on #42
I have this problem too !

the erro：
![image](https://cloud.githubusercontent.com/assets/4366658/7361633/8cc8780c-ed8e-11e4-82eb-5f3189f85b2d.png)

[2015-04-28 07:05] timdream commented on #42
I've just pushed ae89662 to fix this issue. The original code was untest code targeted my own image, which is not exactly black and white.

Please note the text can only expand along the green lines drawn, so if your shape is too irregular the cloud might not be occupy these edges.

[2015-04-28 07:05] #42 closed

[2015-04-29 01:51] lzxue commented on #42
thx,it's ok!

[2015-05-31 13:38] daithi-coombes commented on #41
I use `npm` for managing my packages and the lack of the version in `package.json` file is preventing this, shoudl be an easy fix

[2015-05-31 13:48] daithi-coombes commented on #41
I've create a pull for this..
https://github.com/timdream/wordcloud2.js/pull/43

[2015-06-01 02:17] timdream commented on #41
The library has been published on npm and versions are all tagged. Thanks.

[2015-06-01 02:17] #41 closed

[2015-06-23 14:15] danielquinn opened #45 "Sorting and shortening a dataset results in a crash"
I have a dataset, a collection of tweets containing the word "climate" over a few hours.  This dataset, when dumped into WordCloud renders a cloud alright, but the most used word never appears.  In fact, a lot of words that shouldn't be in the top 10 are rendering very large.  It also doesn't finish, dumping out an `NS_ERROR_FAILURE` in the console.

In an effort to make sure that only the most re

[2015-06-26 20:24] aaronucsd opened #46 "Noting is showing up"
I tried what was in the Simple usage, but still nothing showing up.

              <div id="my_canvas"></div>
              <script>
              var list = [['foo', 12], ['bar', 6]];
              WordCloud(document.getElementById('my_canvas'), { list: list } );
              </script>

[2015-06-26 20:30] aaronucsd commented on #46
Looks like you need to give the div with the id 'my_canvas' a defined dimensions (w + h). Could you please add this into your usage? It's obvious but not to everyone. Also, can you have more usages/examples? From the demo i'm not able to see how you did it in code. Thanks.

[2015-06-26 20:33] timdream commented on #46
Sounds reasonable. Would you like to submit a pull request to patch README for that? Thanks!

[2015-06-26 20:36] aaronucsd commented on #46
Sure. Thanks.

[2015-06-26 22:21] aaronucsd commented on #46
Btw, i tested with the array below and only HTTP shows up on the rendering. Why not 'foo' and 'bar'? It's a good size display 100%x500px.

 this.list = [['foo', 868], ['bar', 832], ['HTTP', 77]];

[2015-07-30 16:18] guiles00 commented on #39
Hi tim, i'm trying to draw a cloud on a div element but nothings appear. If a use <canvas> it works perfectly.
What should I do?
this is the div
   `<div id="html-canvas" class="canvas" width="1170" height="760">
</div>`
Thanks!

[2015-09-03 19:34] thientran1707 opened #47 "Hover visualization when using with React"
Hi. I am using wordcloud2 with react, but I do not know how to highlight the element in the cloud when it's hovered

[2015-09-08 06:58] timdream commented on #47
I don't know either; I have no experience on integrating this with React.

[2015-10-23 21:31] eggers opened #49 "Any way to have two of the same word?"
I'd like to display the same word multiple times with different sizes (i'm using coloring to differentiate between one instance and another) is there any way of doing that in the current api?

The reasoning behind doing this is that I want to combine the word clouds of two documents into a single cloud, but still be able to see the difference in relative frequency between two instances of say "goo

[2015-11-06 14:24] jiacheliu3 opened #50 "Scale of word value?"
Hi!
May I know what how the range of value is mapped to the size of word drawn please? I put the value in a scale of [50,100] and [500,1000] but they ended up shown the size of ants....
I didn't use weight factors or minimal font size etc in the parameters, just passed in a list with all value scaled. It there a suggested value range with all other parameters by default? Or shall I just go ahead a

[2015-11-08 12:49] timdream commented on #50
Please increase the `weightFactor` instead.

[2015-11-08 12:49] #50 closed

[2015-11-09 04:36] jiacheliu3 commented on #50
Works pretty well :) Thanks.

[2015-12-14 18:49] RaphBlanchet opened #51 "WordCloud not showing if all words have same frequency"
Hi,

I've done some testing with your library, and I seems to have stumbled on a bug. If all the words of the list have the same frequency, then the cloud will not show up and a javascript exception will be thrown :

`TypeError: Argument 3 of CanvasRenderingContext2D.getImageData is not a finite floating-point value.`

i.e : [['Internet', 3], ['Google', 3], ['Web', 3]]

Making a WordCloud with the

[2015-12-14 21:34] timdream commented on #51
Thanks for the report. The frequency is not likely the cause -- the demo page do that exactly.

Could you paste the entire function call here and also the dimension of the canvas? I can only fix this if I could reproduce it. Thanks.

[2015-12-17 21:46] RaphBlanchet commented on #51
Really sorry, just found out that the bug was caused by a calculation we were doing on the Weight Factor, which resulted in a division by 0. All my apologies, everything works fine now that we found that!

[2015-12-17 21:46] #51 closed

[2015-12-21 13:53] av01d opened #52 "Examples on non-radial shapes?"
Hi Tim,

Is it possible to have non-radial shapes for wordclouds? Your shape-generator.html is a nice tool for generating new wordcloud shapes, but the process is based on drawing lines from one central point.
For example: I'd like to have a shape of a world map. Does wordcloud2.js support such 'arbitrary' shapes? If so, how do I generate the coordinates for the "theta" function?
Do you maybe have

[2015-12-21 17:01] excessi0n opened #53 "Too Large Words not Shown"
Hi, I'm building my wordlist from a database and calculating the weight from the number of occurrences.
I'm having an issue where if the word is extremely frequent then the word becomes so large it's no longer shown. Is there an option to make sure no word grows so large it can't be displayed, or a method to proportionally size the words working backwards from the largest word?

Thanks!

[2015-12-23 01:25] timdream commented on #52
You would have to do it with a picture mask by draw the "ocean" on the <canvas> first and set the "land" color to WordCloud as the color that can be used to place text.

[2015-12-23 01:27] timdream commented on #53
This is a very hard problem. With enough time I can definitely improve the script to do so, but I don't, unfortunately.

The problem is we don't really know the biggest the size of the word that would fit either. So we would have to go to the first solution eventually.

[2015-12-23 15:36] av01d commented on #52
Thanks for you reply, but I'm not sure I understand yet. Until now, I always use shape-generator.html to generate cloud shapes. Does the process you describe use shape-generator.html at all? Or is it something I need to do in wordcloud2.js? Where do I set the "land" color?
An example might be useful? Thanks again.

[2015-12-24 01:52] timdream commented on #52
1. Paste your world image into the canvas. (`ctx.drawImage()` and whatnot)
2. Ask WordCloud to draw on that canvas with `clearCanvas` to `false` and `backgroundColor` of the color to be drawn words over (I assume that's the color of the continents for an image of a world map).

https://github.com/timdream/wordcloud2.js/blob/master/API.md#presentation

You don't need `shape-generator.html`.

Please

[2016-01-03 07:35] timdream commented on #49
Sorry for the late reply. You could pass a function into the `color` option and set the color there, but I admit it would need a little more filtering in the function to figure out the right color should be for the current passed word.

Maybe you could make some suggestions on the API?

[2016-01-03 07:40] timdream commented on #45
Sorry for the late reply. This is probably a bug in the browser (not being able to draw a word with the size of `11445`!). I did see an error in the JS console in Firefox (`NS_ERROR_FAILURE:`) but it's not actionable since it does not contain any line or backtrace information.

Maybe we could find the real method that throws and wrap it with `try {} catch {}`?

[2016-01-04 10:07] danielquinn commented on #45
Hmm.  I think that I was under the impression that the number wasn't the font-size but rather the "weight" of the word and that the Javascript would determine the font-size based on that.  What you're saying makes sense though, so maybe something as simple as a check on each value to see if it exceeds 500 (or something else reasonable) would be appropriate?

For what it's worth though, I don't thi

[2016-01-04 10:20] timdream commented on #45
Yes, the number is the weight but unless your weight factor is way smaller than 1 I assume 11445 means font-size > 11445px?

DOM rendering is quietly differently than 2d canvas rendering, so the former works doesn't means the latter always works, unfortunately. You can refer to #14 and read the previous experiences. However, since the browser did not crash like it did in #14, we should be able to

[2016-01-06 08:12] akhilr opened #54 "Click setting"
Hi,

First off, thanks for making this excellent plugin!

I had a question, is there any way to call each word on click.

Thank you in advance.

[2016-01-06 08:15] timdream commented on #54
If you draw a cloud on a `<canvas>`, the function in `click` option will be called when the user click on a specific word.

https://github.com/timdream/wordcloud2.js/blob/master/API.md#interactive

For a HTML cloud, you could bind an event listener on the container and inspect `evt.target` to find out the current `<span>` the user it click on.

[2016-01-06 08:15] #54 closed

[2016-01-06 08:21] akhilr commented on #54
Thanks for your response!
Apologies, maybe I didn't explain myself well enough.
I'm trying to make each individual span appear on a particular event. For example, to generate each new word when the user clicks.

[2016-01-06 08:33] timdream commented on #54
You can achieve that by calling `WordCloud()` again, asking it to draw a new word upon click, without clean up the current canvas.

[2016-01-06 08:34] akhilr commented on #54
How would I stop the loop after it draws each word, though?

[2016-01-06 09:00] timdream commented on #54
Only draw a word one at a time :) The trick here is not to wipe the canvas in the subsequent draw.

[2016-01-07 11:13] akhilr commented on #54
My main issue is that the list contents are dynamic. Length of the list is fixed though. So what I need is that every time a new word is added I need to draw it in the WordCloud.

After placing this new word, it should pause and wait for the new word. Once all the "unique" words in the list are received, then I can let WordCloud go about its business.

So basically I need to find a way to pause Wo

[2016-01-08 15:51] timcroydon commented on #46
For others seeing this post, I had this problem (items not showing up). It's because the size is the font size, not an arbitrary number. Try normalising your `size` values to sensible font sizes.

[2016-01-08 17:23] timcroydon commented on #53
Once I have my data to display, I normalise each value with something like this:

    newValue = (oldValue - min ) / (max - min) * (maxFontSize - minFontSize) + minFontSize

Obviously you need to find your max/min values for each dataset you want to display.

[2016-01-11 08:13] ashokduddukuri opened #55 "wait: 0 should probably freeze the browser instead of use setImmidiate"
How to display without any animation? is there any flag for it?

[2016-01-11 08:20] timdream commented on #55
What do you mean by animations? There isn't any animations built-in..

[2016-01-11 19:53] ashokduddukuri commented on #55
In this [exampe](http://timdream.org/wordcloud2.js/#love), all the data is not shown instantaneously.It takes some time to display complete tag cloud.

[2016-01-12 04:39] timdream commented on #55
That's not animation, that's because each tick is quite demanding to the browser (even on Desktop) so if I don't do things separately in a `setTimeout()` loop your browser will freeze.

You could change the `wait` property to `0` instead.

https://github.com/timdream/wordcloud2.js/blob/master/API.md#timing

[2016-01-13 07:11] ashokduddukuri commented on #55
Thanks for the explanation.I am converting tag cloud to pdf using wkhtmltopdf but it seems complete data is not shown because of delay in rendering complete tag cloud. Even setting to wait:0 it dosne't seems to rendering instantaneously. I understood problem with rendering every thing at once, just let me know if there is a way to do it else you can close this. Thanks

[2016-01-13 07:25] timdream commented on #55
That's very easy. Just have your script injected into your page and listen to `wordcloudstop` event dispatched from here:

https://github.com/timdream/wordcloud2.js/blob/master/src/wordcloud2.js#L1072

That's the definitive timing for you to start pull the rendered result.

[2016-01-16 00:35] theBear opened #56 "Background-Shapes for each Tag"
There is an interesting and easy way to form a cloud-shape with CSS3 (http://thecodeplayer.com/walkthrough/make-a-simple-cloud-in-css3). I would really like to implement this (or any other way to build 'clouds') into wordcloud.js... as a background for each tag/text. And, of course, the clouds will resident, too, and there must not be an overlapping. That would look really awesome, I think. Do you

[2016-01-18 07:27] timdream commented on #56
I am not following ... are you looking at creating a cloud according to the shape drawn by CSS? That would be non-trivial because JavaScript don't have enough layout information to tell the actual shape.

If you are looking at draw the cloud into a specific shape, there are other methods available (with a mask image or with a polar equation), both would work better than getting a shape from CSS!

[2016-01-18 12:06] theBear commented on #56
Sorry, I couldn't myself clear. Let me explain it with this example-graphic:

![clouds](https://cloud.githubusercontent.com/assets/7254827/12390877/0a7c67b0-bde4-11e5-9c0f-b8cea456dbae.png)

I want that cloud-shapes sourrounding the tags. With your elements-option I thought, a CSS3-Styling will be more easier to do this. If not, have you any idea, how can I perform such thing with your tool? Or do

[2016-01-19 02:22] timdream commented on #56
Ah, that's completely the other way around. What you want is very easy to do by drawing the cloud in a `<div>` and set some style to `div > span`. However, the cloud-drawing logic will not account the spacing required for the styling. Anything advanced would probably need to dive into the code...

Speak of, it would be great if there is some way to make the library plug-able to account for these u

[2016-01-20 03:01] rayeaster opened #57 "word cloud flash and disappear on IOS 8.3"
I have a word cloud, it first show and then disappear...could any one shed some light here?

[2016-01-20 03:05] rayeaster commented on #57
my container is a height-given <canvas> and my word value is Chinese with weight between [4,8] and following options:

var option = {
        		list:list,
        		gridSize: Math.round(16 * $('#memCloudCanvas').width() / 1024),
        		weightFactor: function (size) {
        		  return Math.pow(size, 2.3) * $('#memCloudCanvas').width() / 1024;
        		},
        		shape:'pentagon',

[2016-01-20 03:39] rayeaster commented on #57
it seems it is due to the "fontFamily" setting

[2016-01-20 06:49] timdream commented on #57
Are you drawing a cloud on a `<div>` or a `<canvas>`...?

Anyhow, this is probably a bug in the browser.

[2016-01-20 06:49] #57 closed

[2016-01-25 00:32] theBear commented on #56
Thank you for the reply, but I'm afraid, my expertise is not good enough to realise that. I just saw that CSS-Cloud, which looks pretty nice, but I've noticed, that there are only absolute sizes, so maybe that's a problem with the relativ sizes of the tags in your cloud?

But if you say, it's "very easy" could you please give me a solution or a walkthrough or a link-tipp for this case? I would rea

[2016-02-01 23:36] theBear commented on #56
How to draw the cloud in a div, like you said? I will give it a try, but maybe you can introduce me only in this?

[2016-02-04 08:20] theBear opened #59 "Manual for Shape Generator?"
Hi,

is there any documentation for the shape generator?

I have something like this:

[code]

How to _install_ this to wordcloud2.js?

[2016-02-05 08:03] khaivngo opened #60 "Color individual item"
Is there any way to color individual item with for example a third attribute in the list or the color callback-function is able to return a saved custom attribute?

Something like this:
[0: "Word",1: 6, color: "#00b2ee"]  or [0: "Word",1: 6, 2: "#00b2ee"]

Or, like this:
color: function (customAttribute) {
      return customAttribute.color; or return element.customAttribute
}

[2016-02-08 07:27] khaivngo commented on #60
Proposed a solution here: timdream/wordcloud2.js#61

[2016-02-09 00:20] noahjcz commented on #52
I'm trying to follow this, but when I set clearCanvas: false, the word cloud doesn't work at all (nothing draws).  Would it be possible to post a short code example?  Thanks!

[2016-02-22 03:53] timdream commented on #60
Sorry about the late reply. I agree this feature, but I don't think each of the item should be represent as arrays anymore. How about let's do a little refactor first like this?

[code]

Please maintain compatibility with the old syntax by checking the object type, with, e.g.,

[code]

Thank you!

[2016-02-22 04:01] timdream commented on #59
The shape function can be used in the `shape` option.

https://github.com/timdream/wordcloud2.js/blob/master/API.md#shape

If that's not clear enough feel free to submit a pull request and document it there. Thanks!

[2016-02-22 04:02] #59 closed

[2016-02-22 04:04] timdream commented on #56
Pass a DOM Element object into `elements` argument here:

https://github.com/timdream/wordcloud2.js/blob/master/API.md#usage

If any of the elements is not a `<canvas>`, the code will attempt to draw text by appending `<span>` as child elements, instead of using ConvasContext2D API.

[2016-02-22 04:06] timdream commented on #55
@ashokduddukuri I am closing this issue as solved per suggestion above. Feel free comment if there is any other suggestions.

[2016-02-22 04:06] #55 closed

[2016-02-22 04:08] timdream commented on #34
Closing as WFM. To be reopened if there are more detail.

[2016-02-22 04:08] #34 closed

[2016-02-22 07:20] khaivngo commented on #60
Of course, you know the code best. Do you have any estimation on when you are able to implement it?

[2016-02-22 08:57] timdream commented on #60
Don't think I will be able to work on this anytime soon. I think you are capable of working on this and you should. Thanks for helping out!

[2016-02-23 16:50] Zukeh opened #66 "onClick showing the wrong word"
Hi,

Thank you for the great library!

I'm having a small problem, my onClick event is showing the wrong word.
You can see the problem here: http://jsbin.com/fojiwituxa/edit?js,output

My initialization code is very simple:

[code]

[2016-02-24 06:35] timdream commented on #66
I can confirm this is a problem. It looks like the internal coordinate to figure out the hovered item didn't return the right number. Specifically, the function here:

https://github.com/timdream/wordcloud2.js/blob/d9dc8c5cab7d8e9ce8073ef2a08b7ac781f5e487/src/wordcloud2.js#L371-L384

Spend some time inspecting this function with breakpoints or console.log() should find the cause here.

[2016-02-25 21:55] Kiel-H-Byrne commented on #14
Is this still an issue?
My wordcloud crashes servers (i deployed to a meteor server and it crashed that server).
I thought it crashed when the result set was too large, not necessarily because of word size... i have a formula set so the size of the word doesn't get too large. And i only implented that because when the words were too large they would write over the whole screen (behind other dom el

[2016-02-26 05:45] timdream commented on #14
I don't know how meteor renders canvases on server (maybe w/ a headless WebKit/Chromium?), but I would imagine this issue is still valid.

[2016-02-27 04:54] TommasoBelluzzo opened #68 "Hover Canvas/HTML Target"
I'm having a problem with hover event in my word clouds. Actually I don't know if it depends on the position of the parent elements or something like this, but the event is almost never returning the correct word I'm hovering on both canvas and HTML. On a canvas contained in a right floating div the event is not even firing.

[2016-02-27 05:19] timdream commented on #68
There was a regression caused by 625d6f90 and fixed by 0638574. Did you update to that commit?

[2016-02-27 05:21] timdream commented on #68
... and I published a new version on npm: v1.0.3 too.

[2016-02-27 05:24] timdream commented on #66
I can confirm the issue is fixed (per your JSBin example) on the latest version.

There was a regression caused by 625d6f9 and fixed by 0638574. Please update to v1.0.3. Thanks!

[2016-02-27 05:24] #66 closed

[2016-02-27 05:24] timdream commented on #68
Issue #66 was fixed so this is likely fixed too. Please comment if it didn't. Thanks!

[2016-02-27 05:24] #68 closed, assigned to nobody

[2016-02-28 04:26] TommasoBelluzzo opened #69 "Hover - Uncaught TypeError"
Whenever I hover an empty area of a wordcloud canvas, normally on the left side and very close to the border, I keep on receiving this error:

   Uncaught TypeError: Cannot read property '[ANY NUMBER]' of undefined
     getInfoGridFromMouseTouchEvent @ wordcloud2.min.js
     wordcloudhover @ wordcloud2.min.js

[2016-02-29 03:19] timdream commented on #69
This is a bug due to the fact the grid does not cover the entire canvas. `getInfoGridFromMouseTouchEvent` should not throw but return a undefined `info` struct instead.

It's harmless though as we did not mistakenly trigger `hover` callback.

[2016-03-18 22:26] ajm113 commented on #14
An easy way to fix this issue is to 'normalize' the array of word's weights. So that the range of weight can only be 10-20, 10-50, etc.. So your not plugging in raw weights, that may cause the browser to crash or have that particular line return 'null'.

Would be nice if the library normalized the weights for you. ;)

[2016-03-18 22:51] tdotholla commented on #14
I think i had a misnomer when mentioning word list sizes. I meant that when
the amount of words in the list is large, it crashes. But normalizing the
sizes may still help, as the browser doesn't have to calculate too much per
word.

On Fri, Mar 18, 2016 at 6:26 PM Andrew Mcrobb <notifications@github.com>
wrote:

[2016-04-14 12:38] jctelo commented on #14
@ajm113 you're a genious! It worked for me :-)

[2016-04-16 23:51] #52 closed

[2016-06-02 15:54] timdream commented on #53
This is considered fixed when you set the new option `drawOutOfBound` to `true`.

[2016-06-02 15:54] #53 closed

[2016-06-02 20:53] frankmayer commented on #30
Hello, I know this is old, but I stumbled on this, too.
Unless `el.offsetLeft +` and `el.offsetRIght +` is applied as suggested, the cloud will display at the absolute coordinates of the window instead of the div (which is inside another container-div).
The result is the cloud being displayed at the top of the screen instead of the actual div position.
I also noticed that a hover over either the a

[2016-06-14 15:01] timdream commented on #30
@frankmayer I see what you are talking about. The css `left` and `top` are referenced against the [containing block](https://www.w3.org/TR/css-position-3/#cb). The easiest way to create a containing block would be to simply set `position` to `relative`. It doesn't has to be the actual parent container of the words (which is the div you pass to `WordCloud()`), it can be set on any parent element th

[2016-06-14 15:04] timdream commented on #30
Demo page works because

https://github.com/timdream/wordcloud2.js/blob/gh-pages/index.html#L30
https://github.com/timdream/wordcloud2.js/blob/gh-pages/index.html#L36

If we adopt the fix suggested above, we could actually remove these styles.

[2016-07-12 08:10] timdream opened #73 "Upload Travis CI image to Imgur"
It would be much better than print out data URLs in Travis CI console, like https://travis-ci.org/timdream/wordcloud2.js/builds/144091508

[2016-08-31 08:49] unasd opened #75 "Is it possible to use the function to fontFamily option?"
I want to dynamically change fontFamily based on the word .

like below

[code]

I tried it already and it seems not working.
Is there anyway to do?

ps. thx for your work!

[2016-08-31 08:52] unasd opened #76 "Is it possible to use the function to fontFamily option?"
I want to dynamically change fontFamily based on the word .

like below

[code]

I tried it already and it seems not working.
Is there anyway to do?

ps. thx for your work!

[2016-08-31 08:53] #75 closed, assigned to nobody

[2016-08-31 08:55] timdream commented on #76
Not possible, but certainly can be implemented.

[2016-09-01 00:22] unasd commented on #76
I solved the problem through this article. [issue24](https://github.com/timdream/wordcloud2.js/issues/24)

[2016-09-01 00:22] #76 closed, assigned to nobody

[2016-09-05 05:07] rohitkhatri opened #77 "How to attach data attributes to the rendered words"
I'm thinking of some callback while rendering, I can get the span and should be able to attach some data attributes so I can access them when a word is clicked on.

Thanks

[2016-09-05 06:01] timdream commented on #77
That's a good idea. With all these issues I think I should eventually come up with a plug-in framework (it's no possible to implement all use cases into the one and only core code).

In the mean time you could listen to `wordclouddrawn` custom event and attach data attribute to the last, newly created `<span>` in the containing element.

[2016-09-05 06:08] rohitkhatri commented on #77
Thanks for the help, I will try this out now, and update you If It works for me.

[2016-09-05 06:45] rohitkhatri commented on #77
Can you give me an example using the `wordcolulddrawn` event?

[2016-09-05 07:26] enchaowu commented on #77
if the outline is administrative divisions, how to make it work well ?

[2016-09-06 06:04] timdream commented on #77
https://github.com/timdream/wordcloud2.js/blob/08149c110250741ac7e4139629d3053756fbeaf4/src/wordcloud2.js#L1134

It's a custom DOM event, so you should be able to subscribe it with `addEventListener` or `jQuery.on`.

I don't really understand what this question means...

[2016-10-21 21:56] ITGuyJosh opened #78 "Uncaught TypeError: Cannot read property 'tagName' of null"
Hello, I am attempting to combine the WordFreq & WordCloud2 js libraries to create a basic wordcloud from some text. I am able to return the words correctly in the [['one', 1], ['two', 2]] format, but I keep on getting TypeErrors when I apply the array to wordcloud2.js. I've attached screenshots of my error and code. Any help would be appreciated!

<img width="632" alt="screen shot 2016-10-21 at 2

[2016-10-22 01:15] timdream commented on #78
That simply means `document.getElementById("#visual-source")` is `null`. Your HTML should have something like `<div id="visual-source">`.

Also, You don't need to `JSON.stringify` the list.

[2016-10-22 01:15] #78 closed, assigned to nobody

[2016-10-22 05:58] ITGuyJosh commented on #78
Thank you for your quick reply tim, but I already checked that and that isn't it. I'm not that bad, I hope, that I forgot a basic html ID thankfully. I think it may be due to the order which the DOM is loaded? But even when I make the script the last thing to execute, it doesn't seem to work, hmmm.

<img width="313" alt="screen shot 2016-10-22 at 06 54 47" src="https://cloud.githubusercontent.com/

[2016-10-22 06:07] timdream commented on #78
Maybe a `console.log('>>>', document.getElementById("#visual-source");` right before the line you call `WordCloud` can help you make sure there isn't any execution order issue?

[2016-10-24 05:47] delwar2016 opened #79 "How can I set background color of each word ?"
How can i set background color of each word or any way to set background color using callback as like as we are able to set front color ?

Thanks.

[2016-10-24 05:58] timdream commented on #79
"Background" of each word does not really make sense in the construct of the word cloud because any space outside of the non-enclosing area of the glyph are available to other words, in theory. Internally the script use a grid to track such information, but I don't think you want to paint that grid behind the words.

This feature cannot be implemented because it can't be defined.

[2016-10-24 05:58] #79 closed, assigned to nobody

[2016-10-24 06:04] timdream commented on #77
I assume this issue is fixed. Please comment if it's not.

[2016-10-24 06:04] #77 closed, assigned to nobody

[2016-10-24 14:08] delwar2016 commented on #79
<img width="552" alt="screen shot 2016-10-24 at 8 00 28 pm" src="https://cloud.githubusercontent.com/assets/18276801/19648642/988ae06e-9a24-11e6-8e63-846c6c3ea812.png">

Please see the image , each word has a background color depending on frequency. Actually, i want to do this. is it possible then how?

Thanks

[2016-11-04 17:44] ghost opened #80 "square should not alias to diamond"
The Square shape is rotated45 degrees so it appears to be a diamond.  What if all I want was a shape equal to the canvas (square or rectangle)?   The words would be placed into the entire space available by the canvas size.  Basically the same as your Love demo.

[2016-11-05 03:26] timdream commented on #80
You are correct on the `square` keyword – I made a mistake to alias it to `diamond`. That said, it's shouldn't be hard to work out a polar equation to draw a real square shape.

The Love demo doesn't specify any shape so it simply draw the cloud in circles. It fill up the space because I did clever things on the list and the size calculation to make sure it indeed fills up the canvas.

[2016-11-16 10:41] themerius opened #81 "Blurred output"
WordCloud produces in my canvas only blurred images (resolution of 300x150 pixel, just resized larger). Here is a snippet of my code experiment:

    <canvas style="width: 100%; height: auto;" id="wc2"></canvas>

    <script>
    var opts = {
      "gridSize": 1,
      "list": [['Mini Mental State Examination', 2],['nervous system disease', 2],['Neuropsychological Test Battery', 2],['Falls', 10],[

[2016-11-17 02:07] timdream commented on #81
You would need to set the pixel `width` and `height` attributes of the canvas element, not just sizing it with CSS, for example: `<canvas width="1024" height="768" style="width: 100%; height: auto;" id="wc2"></canvas>`

Please reply if you have further problems.

[2016-11-17 02:07] #81 closed, assigned to nobody

[2016-11-19 08:57] themerius commented on #81
Thank you. That helped me!

Maybe this should made more prominent in the user documentation?

[2017-01-04 15:25] shlomiLan commented on #53
I know that this is a closed issue, but I'm having the same problem.
When I tried to use `drawOutOfBound: true` in combination with `weightFactor` (for example: `weightFactor: 0.9`) the `drawOutOfBound` is ignored, meaning that I'm having words that are not displayed in the cloud. Do I use the `weightFactor` parameter wrong?

[2017-01-05 03:09] timdream commented on #53
Should not be related... please create a new issue for that and paste the options on the issue.

[2017-01-05 07:28] shlomiLan opened #83 "Using 'drawOutOfBound' property results in distorted cloud"
I have used the first example in the [demo](https://timdream.org/wordcloud2.js/#) page with the following configuration:
`
{
weightFactor: function (size) {
    return Math.pow(size, 2.3) * $('#canvas').width() / 1024;
  },
rotateRatio: 0,
shuffle: false,
maskGapWidth: 0,
minSize: 9,
drawOutOfBound: true
}
`
and with `Height=300px`.

In this case, lots of words are not displayed, if I remove the `

[2017-01-05 07:34] timdream commented on #83
@shlomiLan Thanks for filing. What's the `width` of the canvas?

[2017-01-05 07:37] shlomiLan commented on #83
I haven't changed it so `width="1170"`

[2017-01-05 07:52] timdream commented on #83
@shlomiLan From the font I assume it's on Windows?

[2017-01-05 07:53] timdream commented on #83
@shlomiLan Could you set `drawMask: true` and paste the screenshot again? Thanks. I am pretty sure this is a bug...

[2017-01-05 08:03] shlomiLan commented on #83
Yes, I'm using Windows 10 and Chrome browser.
I have added `drawMask: true`, but I don't see any change.
![image](https://cloud.githubusercontent.com/assets/13360912/21672902/23610528-d32e-11e6-8abc-8700765c9959.png)

[2017-01-05 08:08] timdream commented on #83
@shlomiLan Can you give me a screenshot of the "Canvas" canvas? Just click on the button on the right of the [Run] button.

[2017-01-05 08:11] shlomiLan commented on #83
![image](https://cloud.githubusercontent.com/assets/13360912/21673068/4023a106-d32f-11e6-8e6e-d64fc1116f5b.png)

[2017-01-05 08:29] timdream commented on #83
@shlomiLan Thanks. I don't see anything wrong with this screenshot, no?

So what happens here is that, when you set `outOfBound: true`, WordCloud will draw words even if it's outside of the canvas, *and* will not record the occupancy information of that area (it will forever remain as "available to place more words".

This would not be a problem for a `<canvas>` canvas, because there are no pixels

[2017-01-05 08:29] #83 closed, assigned to nobody

[2017-01-05 09:52] shlomiLan commented on #83
The last image that I sent you it's without `overflow: hidden`. So I didn't really understand how using a canvas solves the issue?

[2017-01-05 11:40] shlomiLan commented on #83
Sorry, what I meant to write is that in the last example that I sent you I **DID NOT** removed the `overflow: hidden` proprty and I use a canvase, but still there were some missing words.

[2017-01-05 12:24] timdream commented on #83
@shlomiLan `outOfBound: true` is not meant to make sure every word appears; if you canvas is full words will be "pushed out" regardless. What it does help is the cases where the word itself is larger than the canvas **and** the canvas is still empty.

[2017-01-09 13:55] shlomiLan commented on #83
I understand now, so what should be the best configuration for displaying the maximum number of words? decreasing the `gridSize` value?

[2017-01-09 14:32] timdream commented on #83
`weightFactor` should be the one.

[2017-01-29 03:43] timdream opened #84 "Output SVG markup"
Got suggestion over email that I should export SVG besides HTML/CSS & canvas.

[2017-02-05 22:00] Marlysson opened #85 "Type of minFontSize ( local and global )"
The type expected in minSize of local object and Wordcloud.minFontSize ( global object ) , it integer ( 20 ) or string ( '20px' ) ?

[2017-02-06 01:23] timdream commented on #85
It's integer in CSS pixels: https://github.com/timdream/wordcloud2.js/blob/976883a0b714883d08ca9ef27b57b6984eca746a/src/wordcloud2.js#L118-L145

[2017-02-06 10:45] Marlysson commented on #85
Great!! Thank you.

[2017-02-06 10:45] #85 closed, assigned to nobody

[2017-03-08 16:46] LukeMcLachlan opened #86 "more responsive way of filling the container?"
I have been able to use <canvas> to fill the width of the screen with words and maintain an aspect ratio of 0.65, however it is very pixelated with wider viewports. I understand why this is, because you generate an image for canvas elements.

So what I did was replace canvas with a div. The problem I am having now is that I can't find a way of making this responsive, so that the cloud fills viewpo

[2017-03-09 03:45] timdream commented on #86
Yes, all the numbers are arbitrarily. It's possible to deduce these scaling factors beforehand definitely by arranging the canvas first without drawing it, but significant work needs to be done before that could happen. Even with that you cannot make the word cloud "responsive", i.e. it will not responsive to changes on windows side.

I think you are on the right track and if 3000 works for you, y

[2017-03-15 17:27] namirsab opened #87 "Webkit and Blink render different wordclouds"
### Observed
Webkit and Blink are placing the words in different places with the same attributes

### Expected
is browser agnostic

### Reproduce by
1. Create a wordcloud.
2. Render it in different browsers

[2017-03-15 23:21] matt-hoskins opened #88 "Repeatable cloud pattern but with varying rotation"
It doesn't seem to be possible to have varying rotation and have a repeatably rendered arrangement because the rotation function calls Math.random(). As far as I can tell the only option is to have the words only at one angle if you want the cloud's word arrangement to look the same each time it's rendered (in combination with shuffle being set to false of course).

It would be nice to be able to

[2017-03-16 08:34] timdream commented on #87
Thanks for filing. Did you turn off a the randomness properties?

[2017-03-16 08:42] timdream commented on #88
Thanks for filing. I would love to overhaul the entire API by either allow every method set-able to a callback, or allow properties to be attach on each of the item individually.

I simply don't have time to do either of that :'(. Let's keep the issue open until this gets resolved.

[2017-03-16 09:01] matt-hoskins commented on #88
No problem - I wasn't sure how actively you were working on it, so I figure I'd chuck the idea up here in case it was easy to tuck in or something to bear in mind for the future :).

If I end up changing a copy of the code myself to implement either of my ideas I'll share the patch.

[2017-03-20 08:47] namirsab commented on #87
@timdream yes I turned off every randomness properties. What I see is that in chrome and safari the wordclouds look properly (but some words are set in another place), and in firefox (in Linux) words overlap each other.

[2017-03-20 11:34] timdream commented on #87
Do you have a test case for me to run?

[2017-03-20 17:01] namirsab commented on #87
mmm unfortunately not, but i can build it.
I'll try to post it during this week okey?

[2017-03-20 18:47] timdream commented on #87
If this is reproducible with options on the demo page (https://timdream.org/wordcloud2.js/), tell me the options and I can try to reproduce it. No need to build a page in that case. It's only happen on Firefox on Linux? Do you have any privacy/anti-fingerpointing thingy turned on? Thanks.

[2017-03-21 09:27] namirsab commented on #87
@timdream could you explain what do you mean? like an adblock or something?

[2017-03-21 09:33] namirsab commented on #87
Okey, you can reproduce it with this settings:
[code]
My firefox version is 52.0 in Linux Mint 18
Chrome is latest stable for Linux

#### Chrome
![image](https://cloud.githubusercontent.com/assets/6980777/24140809/a1a240ea-0e21-11e7-88d5-68dd52ec848d.png)

#### Firefox
![image](https://cloud.githubusercontent.com/assets/6980777/24140836/b9658a70-0e21-11e7-9c6f-bcfbc30200c8.png)

[2017-03-21 19:34] timdream commented on #87
I see what you are saying now. It's expected that different browser renders the cloud differently. Browsers comes with different default font (in this case, `Times` maps to different font on Linux), and use different font rendering technologies. It's unlikely, if not impossible, to make different browser render the cloud with pixel-identical result.

I am closing this as a non-issue. Will re-open

[2017-03-21 19:34] #87 closed, assigned to nobody

[2017-03-22 10:00] namirsab commented on #87
@timdream I can set up an example using the same font and everything if you like. Should they render the same way in that case?

[2017-03-22 10:52] timdream commented on #87
@namirsab No. You can't replace the font rendering engine (unless you draw/raster the font yourself with like [opentype.js](https://github.com/nodebox/opentype.js)).

[2017-03-22 14:36] fusiwei339 opened #89 "Draw multiple wordclouds in one canvas"
I'm trying to draw multiple wordclouds in one canvas. Below is the sample code.

[code]
The result is not correct. That is, only the last wordcloud is drawn. When I debug the code, I find that the problem relates to wordcloud2.js, especially in timer, window.setTimeout, window.clearTimeout (from line 1108 to line 1159). To solve this problem, I change the code as:

[code]
Now it works. Multiple wo

[2017-03-22 14:56] timdream commented on #89
Thanks for filing. Each of the instance has it's own 2-d array that keep the area of undrawn area. The text would over each other if you try to draw it at the same time. I would recommend you draw the cloud on different `<canvas>` element that positioned at the same place with CSS. If you set the background as `transparent` you will get the same result but the text will be able to draw at the time

[2017-03-23 05:36] fusiwei339 commented on #89
Thank you for your prompt reply! I'll try your method and see how it works.

BTW, I have tried many wordcloud libraries (in Java and Javascript) and have implemented one by myself (using force-directed layout + collision detection). this library is the best in its functionality and robustness. And the source code is elegant. I really appreciate @timdream 's work!

[2017-04-12 05:29] jun2mar opened #90 "Backgroung Color"
Can you help me regarding on how to apply Background Color Transparent on the Option?
I tried adding mask image and editing the option / the configuration background color to transparent but it seems the image mask turns to default. Any help?

[2017-04-12 06:02] timdream commented on #90
@jun2mar Could you share your mask image?

[2017-04-12 06:13] jun2mar commented on #90
Here sir,
<a href="https://cloud.githubusercontent.com/assets/8411397/24943612/fe3f4374-1f89-11e7-918b-2ced52c7493d.png">Mask Image</a>

and then when i set the background color to rgba(0, 0, 0, 0)
the word cloud image will set to default

[2017-04-12 06:45] timdream commented on #90
Look like it is indeed a bug. I am not entirely sure when I will get to it though. However if you do `backgroundColor: 'rgba(255,255,255,0,01)'` you'll be able to workaround it for now.

[2017-04-21 09:35] cqgsm opened #91 "How do I mix a picture in a word cloud?"

[2017-04-21 09:48] timdream commented on #91
You would need to use Canvas Context2D API to draw the image on the canvas first.

[2017-04-21 09:48] #91 closed, assigned to nobody

[2017-04-21 09:54] cqgsm commented on #91
This picture can not be the background, for example, a QRCode in the middle of the canvas, and then other words around it to generate the word cloud

[2017-04-21 09:56] timdream commented on #91
Yes you can do that with my comments above, just don't set the `clearCanvas` to true.

[2017-04-21 10:06] andy-cywang opened #92 "The code won't work if compress the HTML code"
Hi, I know it sounds unnecessary to compress the code before running, but for some special reasons my processor in another software will compress the html code into one line before running it. In this case, the code won't work and throw an error saying the object WordCloud is an "Unexpected identifier".

Thanks in advance if you could help me to look at the file I attached. I get no issues to run

[2017-04-21 10:15] timdream commented on #92
I really can't help you with that. Sorry. Please consult the author of your compresser/optimizer/transplier and try to ask them to fix this. I am fine if it's easier to fix here I can take a pull request but I really can't debug an unknown compresser out there.

[2017-04-21 10:15] #92 closed, assigned to nobody

[2017-04-21 10:29] andy-cywang commented on #92
Hi,

Thanks for reply my request. Actually any compresser can cause this issue.
Actually, the code at line 817 is not from my software, it was compressed
by this site: http://www.textfixer.com/html/compress-html-compression.php

Basically, if we put the code just in one line, then it won't work as the
WordCloud cannot be recognized.

Thanks!

2017-04-21 18:15 GMT+08:00 Timothy Guan-tin Chien <noti

[2017-05-03 07:43] kai-chan-cp commented on #46
This element div.#my_canvas  must have  height and width

[2017-05-04 11:18] RidleyDeckard opened #94 "Problems applying a mask"
Hi there,
I'm having real problems applying a mask, I can get it to work using your example without any problems, but when I try to set it up in a new page it seems to load the mask in, but then just ignores it.

I've set it up so that like in your demo it draws the word cloud, you then  add the image mask and hit run, but it is just like the mask isn't there. Any idea where I'm going wrong?

	 va

[2017-05-04 11:19] RidleyDeckard commented on #94
This is the image I'm trying to using as the mask;

![elephant](https://cloud.githubusercontent.com/assets/10867732/25701324/d79dfe54-30c3-11e7-9b6a-85cde358b691.jpg)

[2017-05-05 03:58] eggers opened #95 "Chrome Memory Leak bug with measureText"
I found an actual memory leak caused by not removing some event listeners, but I still had an issue that the Chrome tab was eating up a lot of memory when drawing lots of word clouds. The memory wasn't even released upon refreshing the tab so I did some investigation and tracked it down to the calls to `fctx.measureText('\uFF37')`

Here is a jsfiddle illustrating the issue:

https://jsfiddle.net/9

[2017-05-05 05:52] timdream commented on #95
`FULLWIDTH LATIN CAPITAL LETTER W` is used to infer the em square of the font (since it's is supposedly to be a square). It would be very strange if character other than that can stop the memory leak.

I will recommend you submit this test case to Chrome. You can paste the link once you do that so people can follow it along. Thanks!

[2017-05-05 16:01] eggers commented on #95
@timdream I didn't see the memory leak happening with `.measureText('m')` or `.measureText('W')`, take a look at the fiddle and see if you're seeing the same issue as me.

I did report it through the Chrome help menu, but don't have an issue number, if I don't get a confirmation email by next week, I'll submit it again.

[2017-05-05 16:32] eggers commented on #95
I submitted it on the chromium page: https://bugs.chromium.org/p/chromium/issues/detail?id=718934

[2017-05-05 21:30] eggers commented on #95
A coworker wasn't seeing the same issue on OSX Sierra (I was on Yosemite), so I upgraded as well. The memory issue went away with Sierra, but there was still a performance issue:

See: https://jsfiddle.net/9ny8m9br/3/

[code]

[2017-05-06 03:40] timdream commented on #95
Wow. Thank you for your investigation. I've ran out of ideas actually given that we'll need the estimated height bigger than the em square. It's probably worthy to file another issue with Chrome also. Do you want to do a measurement with Gecko too?

[2017-05-08 16:22] eggers commented on #95
@timdream If you could check Gecko, that would be helpful. I've checked Safari & Firefox and haven't seen the issue as bad in either of those:

[code]

Also, what kind of issues should I look for if I replace the `measureText('\uFF37')` calls with `measureText('W')`?

[2017-05-08 16:48] timdream commented on #95
@eggers Gecko == Firefox :) Looks like you've already done it and I don't have too.

So the `fh` variable [here](https://github.com/timdream/wordcloud2.js/blob/6bcc4d4a31e77a09b474e1185f3951182789af01/src/wordcloud2.js#L524-L526) decides the height of the canvas where we draw and measure the glyphs. So if you remove it it's possible the glyph will get cut off.

(I assume you don't worry about the

[2017-05-20 14:47] selecta-ufuk opened #97 "Blurry output"
hi @all,

can some one tell me why i always get a blurry font out?
![image](https://cloud.githubusercontent.com/assets/28607690/26276652/937c27a4-3d7b-11e7-8db2-acab795b55aa.png)

in html :
  canvas id="word_cloud" class="word_cloud" height="190" width="380"></canvas

in js:
    var options =
              {
                list : cloud,
              rotateRatio: 0,
            gridSize: 5,

[2017-05-21 03:23] timdream commented on #97
What's the actual CSS size of your canvas and device pixel ratio? The height and width only set the pixel size of the canvas.

[2017-05-21 08:31] selecta-ufuk commented on #97
for canvas in css only use position.
same prob:
[http://stackoverflow.com/questions/28983250/word-cloud-getting-blurry](url)

`#canvas {
    top: 10px;
    position: relative;
    z-index: 0;
}`

[2017-05-21 10:08] timdream commented on #97
That's odd. Could you use the DevTools inspector to see the *actual* CSS side of the canvas on the page? Also, what's the device pixel ratio (can be accessed with `window.devicePixelRatio`). Thanks.

[2017-05-21 10:15] selecta-ufuk commented on #97
css out of object :
`color:
rgb(20, 20, 20)
;
display:
inline
;
font-family:
Dosis, sans-serif
;
font-size:
12px
;
height:
190px
;
position:
relative
;
text-align:
center
;
top:
10px
;
width:
380px
;
z-index:
0
;`

from console:
window.devicePixelRatio
2

[2017-05-21 10:24] timdream commented on #97
OK. So it looks like you are on a hi-dpi device. Except on Safari, `<canvas>` are always measured in CSS pixels. Given that one CSS pixel equals 4 device pixels on your device, you'll need to set canvas width and height to 2x of the CSS pixel. Like this:

`<canvas width="760" height="380" style="width: 380px; height: 190px">`

I am going to close this one as this is unrelated to WordCloud. Here is

[2017-05-21 10:24] #97 closed, assigned to nobody

[2017-05-21 11:11] selecta-ufuk commented on #97
works!!!!
thanks

[2017-05-30 13:21] cedricwalter opened #98 "demo render ???? for some word on safari"
reload the page https://timdream.org/wordcloud2.js/#les-miz
Sometimes the cloud is not properly displayed only in safari ios/mac, some words are replaced randomly with ?????????? but not all

Can you help?
Thanks & regards

[2017-05-31 01:27] timdream commented on #98
@cedricwalter Thanks for filing. This should be a bug in Safari — apparently, it draws question marks instead of the fallback font (`Times`) when the Web font (`Average`) is being loaded.

I wonder if this should be filed on WebKit.

[2017-05-31 01:27] #98 closed, assigned to nobody

[2017-07-05 14:26] jabadia opened #99 "automatic calculation of sizes to fill up space"
Is there a way to have WordCloud calculate automatically the weightFactor so that the words fill all the available space?

Thanks

[2017-07-05 15:31] timdream commented on #99
No :'( Because we don't know the "emptiness" of each of the glyphs without actually reading the pixels.

The alternative would simply make the cloud scale at the very end to fit the space, but that takes a full write. I believe there is already opened issue talked about this so closing.

[2017-07-05 15:31] #99 closed, assigned to nobody

[2017-07-07 11:32] Justinnng commented on #94
I have same problem as you, did you fix it?

[2017-07-19 16:32] Pyot commented on #60
Hi,
I try differently loop through the array but I can setup individual colour for a single word. I have seen in API documentation callback function but I don't understand how to apply to code. I get continuously syntax error.
Is it any chance to get an example of code how to do that?

[2017-07-20 05:55] timdream commented on #60
The code block in https://timdream.org/wordcloud2.js/#love provides the exact example.

[2017-07-20 09:24] Pyot commented on #60
Thank you,
It's working. :)

[2017-07-20 13:08] patatetom opened #100 "save image in canvas"
hi,
is there an other way to run wordcloud2.js ? (for just get the image, to not have to open the html file in the browser and save the image)
and how could I feed the list of words from an external file ?
very good work !
regards, lacsaP.

[2017-07-20 14:15] timdream commented on #100
You might be able to run WordCloud in a headless browser or even JSDom. It is designed to work in a browser and it's really not hard to get it...

[2017-07-20 14:15] #100 closed, assigned to nobody

[2017-07-20 14:48] patatetom commented on #100
thanks for the tracks :-)
regards, lacsaP.

[2017-07-20 15:07] patatetom commented on #100
https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md
and what about list of words from an external file ?

[2017-07-21 06:49] timdream commented on #100
@patatetom It would depend on how you want to control your headless instances. You could use frameworks like WebDriver but a simple shell script simply works. It shouldn't be hard to have your JavaScript in the HTML to fetch a file or passing a JS array from the framework to the browser context.

[2017-07-26 15:51] ozorOzora commented on #94
Same here.

[2017-08-03 11:00] Justinnng commented on #94
@ozorOzora I've fixed, just make sure you run `WordCloud(word_canvas, options);` after image.onload.
I fixed by
[code]

[2017-08-03 11:13] timdream commented on #94
@Justinnng Thank you for helping out. Closing since it's not related to WordCloud itself.

[2017-08-03 11:13] #94 closed, assigned to nobody

[2017-08-14 14:39] Pyot opened #102 "rotateRatio: callback function. First word always horizontal?"
I would like to keep rotateRatio: for first element "0".
I try to use to call back function:

  rotateRatio: function (fontSize) {
                    if (fontSize === 50 ) {
                      return 0;
                  } else {
                      return 0.5;
                  }
              },

But it dosen't sems to work.
Can I use call back function on rotateRatio?
If not any idea how

[2017-08-15 06:12] timdream commented on #102
Thanks for filing. It would be a feature someone has to implement. It currently does not detect whether or not `rotateRatio` is a function.

https://github.com/timdream/wordcloud2.js/blob/cb447f15a7a4df996a3e18625a5c80e45f85c06d/src/wordcloud2.js#L473-L479

[2017-08-15 07:55] LucasZheng opened #103 "The polar equation for given image is not totally correct"
Hey,

I want to create a customize shape through [shape-generator](https://timdream.org/wordcloud2.js/shape-generator.html), but the result is incorrect, it lost some detail as below. Any help will be appreciate.
[code]

![result](https://user-images.githubusercontent.com/4002921/29306913-2c391534-81d2-11e7-8e22-754a899c7953.png)

[2017-08-15 07:59] timdream commented on #103
shape-generator is generating the shape as intended. It cannot generate function for a complex shape like your example. Please use the mask feature in https://timdream.org/wordcloud2.js/

[2017-08-15 07:59] #103 closed, assigned to nobody

[2017-08-23 05:52] mjkokotas opened #105 "Text does not resize depending on width of container."
Hi there,

I'm using this in conjunction with Angular 2. Most things are great (probably the best plugin for word clouds!).
This may be my lack of knowledge, but I am unable to get the text weight to resizes depending on the container size. Currently, every time the container resizes I lose words within the cloud instead of the weight reducing. Do you have a work around for this?

` this.wordServi

[2017-08-23 06:08] timdream commented on #105
WordCloud does not reduce the font size as the canvas size changes. You must estimate a `weightFactor` and set it according to your estimation. I assume it should have a better API to reduce the confusion here.

[2017-08-30 06:52] kidjykit opened #106 "Hover tooltip"

[2017-08-30 06:53] kidjykit commented on #106
{
  gridSize: 18,
  weightFactor: 3,
  fontFamily: 'Finger Paint, cursive, sans-serif',
  color: '#f0f0c0',
  hover: window.drawBox,
  click: function(item) {
    alert(item[0] + ': ' + item[1]);
  },
  backgroundColor: '#001f00'
}

How to change alert to hover tooltip?

[2017-08-30 07:02] timdream commented on #106
tooltip and `drawBox` is not part of the library. Please refer to the implementation in the page.

[2017-08-30 07:02] #106 closed, assigned to nobody

[2017-08-30 09:33] yeatszhang opened #107 "background click event"
Is there any way to get background click event ? Thank you very much~ The lib help a lot

[2017-08-30 10:19] timdream commented on #107
It's certainly possible. Send me a pull request and I will take it :)

Before that, you can bind your own event listener on canvas and have it only reacts when the click event from the library didn't trigger.

[2017-08-30 11:08] kidjykit commented on #106
Sry, i mean i can't change option click alert(item) to hover tooltip item on canvas. I don't know how to change its. Suggest me pls. Thank you very much.

[2017-10-08 10:37] sghgh1996 opened #108 "react integration"
I am developing a react application and I want to use this library in that. Can any body help me about that.?

[2017-10-11 09:27] jessica-wyatt-livinglens opened #109 "drawOutOfBound: false sometimes fails to cull words that are partially off-canvas"
Hi,

I've noticed that sometimes with particular weightings words can be rendered almost entirely off-canvas but with say one huge letter on the canvas. I assume this isn't meant to happen.

A test case that should replicate the issue is as follows:

**Word list**

42 Test
15 Love
14 Liebe
12 ፍቅር
11 Lufu
8 حب
7 Aimor
6 Amor
5 Heyran
5 ভালোবাসা
5 Каханне
5 Любоў
5 Любов
5 བརྩེ་དུང་།
5 Ljubav
5 Kara

[2017-10-11 10:04] timdream commented on #109
@chris-wyatt-livinglens Thanks for filing. Can you paste a screenshot here?

[2017-10-11 10:07] jessica-wyatt-livinglens commented on #109
Sure:

![image](https://user-images.githubusercontent.com/25149680/31434432-4a602aa6-ae74-11e7-9867-76ed6a75018b.png)

[2017-10-12 10:43] t0pZ opened #110 "How to avoid very small words inside big letters"
Hi Tim!

May I know if there is any way we can put very small words outside big letters when we have the biggest at the center? I have attached a sample.  'Fussy' and 'Open' is inside O, 'Fin Re' within 'e' and 'Big' that is within 'v' - all in the word innovative.  I know we can use 'gridsize', but i would like to just retain the spacing of the words outside 'innovative'.  Thank you!

![image](ht

[2017-10-13 09:39] hanfengcan opened #111 "not defined when I use my project(vue-cli)"
I use this wordcloud2.js in my project. but, it said `TypeError: Cannot read property 'wordcloud' of undefined`

I try the

`import wordcloud from 'mypath of wordcloud2'`

and

`let wordclude = 'mypath of wordcloud2'`

how the right way for me to use this js :sos:

[2017-10-13 14:28] timdream commented on #110
It's definitely possible to modify the code to make it exclude the area. I don't have time currently to get to it though.

[2017-10-13 14:29] #80 closed, assigned to nobody

[2017-10-16 05:59] hanfengcan commented on #111
my mistake, it work right

[2017-10-16 05:59] #111 closed, assigned to nobody

[2017-10-25 06:18] ajhool opened #114 "Shape option has no effect and the default is a rectangle"
Failure: shape option does not change the layout. Default is also a rectangle and not a circle, which suggests that the shape function is not executing properly.

Browser/Platform: Chrome, Firefox on Mac, Android (did not test others).

Code Versions: Tested on the demo page, the npm module, and a directly cloned repo.

Recent commits do not appear to have altered the code and I am new to the proj

[2017-10-25 06:27] ajhool commented on #108
Timdream has an npm module available that you can add to your react application using:

`yarn add wordcloud`
or
`npm install --save wordcloud`

Then, the goal is to have a canvas element in your render method -- once the component is mounted, you will populate your canvas element with Wordcloud. You can use ref and this.refs to access your canvas dom element. Example component:

[code]

Chances ar

[2017-10-25 07:44] sghgh1996 commented on #108
Thank you much @ajhool . That's true. I used it and it helped me.

[2017-10-25 07:48] timdream commented on #114
Could you paste the code executed?

[2017-11-02 19:00] ivan2941 commented on #78
When you use getElementById method there's no need to include the #, it's redundant. Just pass it a string with the name you're looking for, like this:
_**document.getElementById('visual-source');**_
So jquery would search for an element like this: _`<div id="visual-source"></div>`_
Otherwise it would be searching for an element like this: _`<div id="#visual-core"></div>`_

;)

[2017-11-18 14:18] estherrios2 opened #115 "Help! I don't know how to implement this utilizing Ionic..."
**Hi! I already added the WordCloud module to my project. Yet, I face a lot of problems when trying to at least show the simplest word cloud. I don't know what I'm doing wrong...**

**home.ts code:****

[code]
**home.html code:**

[code]

**HELP PLEASE && THANK YOU**

[2017-11-27 10:50] duncanjbrown opened #116 "Is there a simple way to prevent word overlaps?"
This may be a duplicate of #110.

At the moment I am manually tuning `gridSize` and `weightFactor`to spread out my words so they don't overlap. For example, if you were to draw a box around each word, including descenders and ascenders, no part of any other word appears inside that box.

Is this possible to guarantee somehow? If not, is it a hard problem? And if it's not a hard problem, please cou

[2017-11-28 06:00] timdream commented on #116
This is a dup of #110 and yes it's a non-trivial problem. Thanks for filing.

[2017-11-28 06:00] #116 closed, assigned to nobody

[2017-12-07 01:48] t0pZ commented on #110
Thank you Tim for your positive reply about this back then.

I could try to take a look at how to modify the code.  However, would you be able to advice, even on a very high level, a logic that I could follow for this and which part(s) of the code, please (e.g. probably somehow i should be able to get all pixel values inside the 'box area' of a word so that they are 'included' in the 'occupied arr

[2017-12-07 14:28] robsdedude opened #117 "Add version to comment"
Hi. I suggest to add the current version of the lib to the comment on top of it. This makes it easier to debug applications that just use `wordcloud2.js`. Many other js libs do this as well, by the way.

[2017-12-08 00:08] kongakong opened #118 "The words are not 'centered' if the containing div is scaled."
Here is the html markup

and the javascript code:

            function draw() {
                    console.log('draw');
                    var wordcloud = $('.wordcloud')[0];
                    var options = {
                        list: [['aaaaaaaa', 50], ['hello', 60]],
                        color: 'black',
                        weightFactor: 2,
                        rotateRatio: 0,

[2017-12-08 01:03] smallbitt commented on #115
How did you add this module to your project? is there typings for this script?
if not you should import the script in index.html file and then declare the global variable before use it in the ts.

[2017-12-08 09:06] smallbitt commented on #115
I figured out how to make it work on ionic2 or ionic3.

## Installation:
`npm install wordcloud --save`
`npm install @types/wordcloud --save`

## Implementation:
First of all, don't use this:
`import { WordCloud } from 'wordcloud';"`
but use this:
`import * as WordCloud from 'wordcloud';`
then add a property in the class like you already did:
 ` list = [['foo', 25], ['bar', 36]];`
and in the const

[2017-12-08 14:45] gitatmax opened #119 "Is it possible to incorporate selected element editing?"
Hello! Great looking library.

Is it possible to alter the font, size, color, etc. of words (elements) with a UI (onclick, id, etc.)?

I see that I can specify a font in the example app but was wondering how I might achieve this on a per-element basis. I Googled around but didn't see any examples of this with this library.

Thanks in advance!

[2017-12-11 16:55] #119 closed, assigned to nobody

[2018-01-16 17:29] AbhiThakare opened #120 "Flag/event on all words drawn?"
Hi @timdream

Thank you very much for this plugin, I loved this plugin and I appreciate all your hard work!

I just want to check is there any event/flag when all words have drawn (population of canvas completed with all words)

I just need to show loader while it populating the canvas and hide loader when it completed so checking for any flag or event.

Regards
Abhi

[2018-01-22 04:39] ahbox opened #121 "What is the principle rule to pick a best WeightFactor?"
I have read one of your examples on the demo page.

Here is a part of your code:

`{
  gridSize: Math.round(16 * $('#canvas').width() / 1024),
  weightFactor: function (size) {
    return Math.pow(size, 2.3) * $('#canvas').width() / 1024;
  },
  fontFamily: 'Times, serif',
  color: function (word, weight) {
    return (weight === 12) ? '#f02222' : '#c09292';
  },
  rotateRatio: 0.5,
  rotationStep

[2018-01-26 02:00] mactavishz opened #122 "feature request: npm support"
need npm support

[2018-02-02 09:16] liz282907 commented on #46
i have the same issue, at the first time, the whole page is blank, and i modify the num in list to sensible font sizes. it does work. but there are still some words lost..

[2018-02-02 13:18] timdream commented on #122
It's there. https://www.npmjs.com/package/wordcloud

[2018-02-02 13:18] #122 closed, assigned to nobody

[2018-02-02 13:21] timdream commented on #121
It's a mess. `weightFactor` is an ugly workaround for the fact the current impl did not measure the entire cloud on a boundless virtual canvas first. Depend on your font and script you might have better luck on making that number up than mine.

To clean up the issue filed I am moving this feature request to [CONTRIBUTING.md](https://github.com/timdream/wordcloud2.js/blob/cdae623e3d9750d6a18c4727c4

[2018-02-02 13:21] #121 closed, assigned to nobody

[2018-02-02 13:23] timdream commented on #120
The event you are looking for is `wordcloudstop`. It dispatches as a DOM CustomEvent.

https://github.com/timdream/wordcloud2.js/blob/cdae623e3d9750d6a18c4727c466969793adfe0d/API.md#events

[2018-02-02 13:23] #120 closed, assigned to nobody

[2018-02-02 13:28] timdream commented on #118
Thanks for filing. I don't think it's possible/efficient to measure the container div transform. It would probably make more sense if you could draw the cloud on a `canvas` or account for the transform yourself.

In the future, a better API might be able to expose detail settings for you to adjust the container dimension manually.

To clean up the issue filed I am moving this feature request to [C

[2018-02-02 13:28] #118 closed, assigned to nobody

[2018-02-02 13:29] timdream commented on #117
Thank you for your suggestion! Would you like to file a pull request? Although unfortunately I have not implemented a build script to automate the process...

[2018-02-02 13:36] timdream commented on #115
`wordcloud2.js` is not a JavaScript module. It's a plain old JavaScript file that sets an object on the global. I have no idea how your build script how your build script can understand the file.

I am moving this feature request to [the roadmap document](https://github.com/timdream/wordcloud2.js/blob/263f3abaf785f307f068f6d9a1438c3b94993e9a/CONTRIBUTING.md#play-well-with-modern-build-systems).

[2018-02-02 13:36] #115 closed, assigned to nobody

[2018-02-02 13:37] timdream commented on #114
Close due to inactivity.

[2018-02-02 13:37] #114 closed, assigned to nobody

[2018-02-02 13:40] timdream commented on #110
@t0wffeevessy Yes, that's the right place to modify. To make life easier you can actually append the canvas being measured to the body to see what's being drawn.

I however don't think it make sense to implement features until we make the library pluggable. See [roadmap](https://github.com/timdream/wordcloud2.js/blob/263f3abaf785f307f068f6d9a1438c3b94993e9a/CONTRIBUTING.md#more-api-features). You

[2018-02-02 13:40] #110 closed, assigned to nobody

[2018-02-02 13:42] timdream commented on #109
WOW, I have no idea what happened. I won't be able to fix it since I couldn't reproduce it though.

[2018-02-02 13:44] timdream commented on #108
@ajhool Thanks for helping out. I, however, don't think the React component will respond to any state change, right? Such usage is probably not somewhere that React shines...

Closing as it is unrelated to the library itself.

[2018-02-02 13:44] #108 closed, assigned to nobody

[2018-02-02 13:45] timdream commented on #107
Cleaning up since this is mentioned in the roadmap.

[2018-02-02 13:45] #107 closed, assigned to nobody

[2018-02-02 13:46] timdream commented on #105
Cleaning up since this is mentioned on the [roadmap](https://github.com/timdream/wordcloud2.js/blob/263f3abaf785f307f068f6d9a1438c3b94993e9a/CONTRIBUTING.md#virtual-canvas-never-miss-a-word-thats-too-big-and-forget-about-weightfactor).

[2018-02-02 13:46] #105 closed, assigned to nobody

[2018-02-02 13:46] timdream commented on #102
Cleaning up the issue since this is mentioned on the [roadmap](https://github.com/timdream/wordcloud2.js/blob/263f3abaf785f307f068f6d9a1438c3b94993e9a/CONTRIBUTING.md#more-api-features).

[2018-02-02 13:46] #102 closed, assigned to nobody

[2018-02-05 07:27] lyqline commented on #46
I have the same issue, even i gives the same attributes with the official website. I have not find out the reason.someone can help?
  let option = {
    list: [['Les Misérables', '20'], ['Victor Hugo', '20']],
    gridSize: 18,
    weightFactor: 3,
    fontFamily: 'Average, Times, serif',
    backgroundColor: '#333'
  };
  wordcloud(containerEl, option);

[2018-02-05 07:35] lyqline commented on #53
I give the small font-size, the words show.But I found out that the official website examples have words show even though it gives a font-size 30.

[2018-02-05 07:39] lyqline commented on #46
I have found out the reason why nothing has shown.We need to set weightFactor: 1.If weightFactor is too big ,we need to set the attribute drawOutOfBound for true.

[2018-02-20 19:06] tiagofscoelho opened #123 "Callback to set fontWeight based on word weight"
Hello :)
Is it possible to add a callback to set fontWeight the same way that we can apply colors?

[2018-02-20 19:55] timdream commented on #123
Yes it's possible. Pull request welcome. It's already on the roadmap so I am going to close this issue for now. Thanks!

https://github.com/timdream/wordcloud2.js/blob/gh-pages/CONTRIBUTING.md#more-api-features

[2018-02-20 19:55] #123 closed, assigned to nobody

[2018-03-02 01:32] k1sr opened #125 "Reduce min gridSize"
More of a suggestion than an issue, but I recommend reducing the minimum grid size from 4px to 1px.

It took me a while to work out why smaller clouds were spaced too far apart, and didn't look good - I dug into the code and realised the min of 4px was the problem.

Anyone setting a grid size will probably want what they set, rather than being restricted to a minimum of 4px.

[2018-03-02 02:00] timdream commented on #125
The reason why there is a 4px limit is that smaller grid sizes make the thing run slow. I probably make sense to remove it though, we can always add a warning or something if people complain. Pull request welcome.

[2018-03-15 07:02] ryanbooker commented on #46
Having a defined width and height makes everything unscalable. i.e. With a response page that changes the size of elements with window size, the word cloud will eventually draw out of bounds. Rather than scale with the space. Using canvas, if you don't specify height, the canvas will scale nicely and the wrapping element height will fit the canvas.

[2018-04-09 11:45] ghost commented on #115
@smallbitt This is not working for me in Angular 2+ i get the following error:node_modules/@types/wordcloud/index.d.ts' is not a module.

[2018-04-09 11:46] ghost commented on #105
@mjkokotas Hi, how have you got this working with Angular 2. Please can you let me know.

[2018-04-09 12:34] mjkokotas commented on #105
I was working on it but the project that I was working on is now with
someone else when I left the company... sorry!!!

On Mon, Apr 9, 2018 at 9:46 PM, Kay Khan <notifications@github.com> wrote:

[2018-04-09 12:54] ghost commented on #105
@mjkokotas Theres no way for you to see the source code? Im kind of stuck at the moment with this.

[2018-04-09 13:17] mjkokotas commented on #105
Unfortunately no, I've been locked out of all projects & I'm not sure if
they even finished that part.

I was stuck myself, so I just left it for later as it wasn't important.
Hope you work it out! good luck!

On Mon, Apr 9, 2018 at 10:54 PM, Kay Khan <notifications@github.com> wrote:

[2018-04-20 22:15] ammoradi opened #126 "Can't read list from huge variable"
I couldn't pass list through a huge variable even using Promise / setTimout.
I have an array in the format of [['txt',123],...] and **it has about 2000 items.**
 my code :

[code]

and i will see :

    at getTextInfo (http://localhost:8080/wordcloud.js:612:34)
    at putWord (http://localhost:8080/wordcloud.js:913:24)
    at Array.loop (http://localhost:8080/wordcloud.js:1179:29)
    at setZeroTi

[2018-04-21 00:26] timdream commented on #126
DId it work outside of Promise/setTimeout? It’s unlikey that it breaks just
because it’s in a Promise/setTimeout.

[2018-04-21 17:36] ammoradi commented on #126
@timdream no it didn't work

your module is sync and xhr req is async then i used Promise ( i thought maybe the list first passed to module then filled with xhr ... )

[2018-04-22 16:40] timdream commented on #126
Probably because the list itself is faulty. If you post it here people will
be able to see what's wrong.

[2018-04-22 18:10] ammoradi commented on #126
@timdream ok i'll send it . But I tested that list in static mode and it was correct ( but for a list with more than 400 item it didn't work )

[2018-04-28 04:52] cuunonhaitac commented on #78
I think I figure out the problems. We just put the variable in document.addEventListener likes this:
<script>
	document.addEventListener('DOMContentLoaded', function() {
	var typed = new Typed("#typed", {
	    stringsElement:'#typed-strings',
	    typeSpeed: 30,
  	});
});
</script>

[2018-05-15 06:08] jpru opened #127 "Uncaught ReferenceError: WordCloud is not defined"
Hi,

I am trying wordcloud2.js and getting the error "Uncaught ReferenceError: WordCloud is not defined" in the javascript console. What am I doing wrong?  Here is my sample code:

[code]

TIA,
 Jürgen

[2018-05-16 20:15] jpru commented on #127
solved. sorry for disturbing...

[2018-05-16 20:15] #127 closed, assigned to nobody

[2018-05-21 15:37] AbhiThakare commented on #69
Hi,

Is there any workaround for this?

[2018-05-25 15:43] AbhiThakare commented on #69
Hi,

I am still facing this issue on hover and keep receiving many times.

Thanks
Abhi

[2018-05-28 11:58] sais123 opened #129 "canvas"
I'm a student at university and we've just started HTML coding, so I am very new to this. I have no experience witch <canvas>, so I have no idea how to fix this. I've included wordcloud2.js and my canvas is really small, if I try to change its size the words get bigger too and they look distorted. My code looks like this:

<div style="width:1100px; height:700px; border:solid 3px black" class="celo

[2018-07-04 08:12] maripop opened #130 "It is possible to add emojis to the wordcloud?"
Hello!

First, thank you so much for the job!

I'd need to make a wordcloud with emojis or mixing words and emojis. The emojis size would depend of its weight (same behavior as words).

So I was wondering if your library have something done for this needs. I have a twitter emoji id, a src url or an img dom element.

Thank you!! Best! María

[2018-07-04 08:18] timdream commented on #130
The library currently does not accept images. If Emoji are `@font-face` web font it should be able to render without problems.

[2018-07-04 08:41] maripop commented on #130
Ok, thank you!!

[2018-07-09 02:51] luke-lee opened #131 "Get approximate polar equation for given image"
thks for your job!
when i use the wordcoud2.js,I have a problems.the shape i want to use my image,so i use "Get approximate polar equation for given image." page ,but the result is not i want.The screenshot of the problem is as follows,Can you tell me the reason?
![default](https://user-images.githubusercontent.com/40971472/42428267-7e64a824-8365-11e8-8728-95a47fcd99a6.png)

[2018-07-12 13:47] timdream commented on #131
There is no way to find a polar equation for your complex shape. Please use a mask. Thanks.

[2018-07-12 13:47] #131 closed, assigned to nobody

[2018-07-12 14:12] luke-lee commented on #131
OK, I see. Thank you.

[2018-07-23 09:23] AbhiThakare opened #132 "Fatal Error On Hover"
@timdream

I really appreciate your work for workdcloud2, its amazing plugin.

Whenever I hover an empty area of a wordcloud canvas, sometimes I keep on receiving this error:

**Uncaught TypeError: Cannot read property [ANY NUMBER] of undefined**

Do you have any workaround for this?

Regards
Abhi

[2018-07-23 18:57] ssword commented on #47
I have created one for my work.  It can add a frame and tooltip to the word in cloud plot.
Most of the codes were stealing from this R project.
[wordcloud2](https://github.com/Lchiffon/wordcloud2)
I am fairly new to javascript and react, so the code maybe dumb.
[Wordcloud.jsx](https://github.com/ssword/dash-wordcloud/blob/master/src/components/Wordcloud.react.js)

CSS:
[code]

[2018-07-25 17:57] bindugupta commented on #94
I am not able to understand how to apply a mask . My wordcloud is not a proper circle so I am thinking of applying a mask of an image of circle. Can somebody share how to do this ?

![image](https://user-images.githubusercontent.com/41546357/43218481-27cb3442-9062-11e8-8e53-9c0b0d4fcb5a.png)

So far , I have this by adding shape='circle' in the options but its not a perfect circle

[2018-08-09 15:30] alabama commented on #132
Hey!
really nice work with workcloud2!

So what i also experienced was through the gridSize and rectangle calculation you can end up with floating rect positions: (top, right, left, bottom);

When hovering/clicking you calculate the position and get the element through the filled infoGrid.
But in the code it is assumed that **x** will always have an entry and  that throws the error.
![image](https

[2018-08-09 15:50] alabama commented on #130
@maripop what is possible is to replace the innerText from span elements (if you don't select a canvas, span elements will be created).

You just need to calculate some widths properly but you can listen on the **wordcloudstop** event and replace the content of the spans. In the library there is a check if the data is an array or an object with
word, weight and **attributes**. These attributes can

[2018-08-15 10:05] AbhiThakare commented on #132
Thanks @alabama

I appreciate your help here!

Regards
Abhi

[2018-08-15 10:05] #132 closed, assigned to nobody

[2018-09-19 08:02] ZXoho opened #133 "is it possible to make a wordcloud with links?"
hello!
is it possible to make a wordcloud with links that i can click them

[2018-10-10 11:23] shmdt commented on #133
Hi @ZXoho! I'm not sure what do you mean about 'links', but you can add 'click' as option with callback function. Example:
[code]

[2018-10-20 16:51] lucasa commented on #126
Any news about this?

[2018-10-21 17:56] ammoradi commented on #126
@lucasa nothing! i used another library...

[2018-10-28 15:57] TheFrogDaddy opened #134 "Top word is missed off cloud if changing dimension"
If you perform the following steps.

1. Go to demo page
2. Select example "Web Technologies"
3. Change dimensions to "520 x 270"

Then: The very first item on the list "Web Technologies" isn't shown.

This makes this cloud completely useless imo as I can present this knowing the most popular isn't even shown. I don't see a workaround for this from the API docs?

Help! Is this a bug or a config iss

[2018-10-30 16:43] kanna99o opened #135 "Words Overlaping in Firefox"
A week ago when I was working on browser compatibility of my app I came across an issue with with words that overlap each other, but just in Firefox. In my case, I'm using `<span>` elements to render the words.

So far, I have noted that the strategy selected by worldCloud2.js to make sure that the position of a word within a `<span>` element match perfectly the one calculated by the canvas API is

[2018-11-06 03:24] nuwannnz opened #136 "How to get a perfect rectangle shape"
Is it possible to get a perfect rectangle shape without these blank areas in the edges?
![capture](https://user-images.githubusercontent.com/16175982/48041040-6a0cad00-e1a1-11e8-9927-ca64d7efa223.PNG)

I changed all the properties and set the shape to "square" but no luck.

[2018-11-20 09:47] Shantanu1497 opened #137 "Is there a way to add a title to the plot?"

[2018-12-12 06:01] Erimus-Koo commented on #53
## I fixed it in my own way, it works good to me.

---

# About weightFactor
Read the source code, the rendering font size is:
[code]
so we can do something limit the biggest font size:
1. Find the word with max value, let's call it maxWord.
2. In some case, every letter is square, same height & width, like CJK.
    If we want the maxWord width = canvas short edge, the font size of the maxWord sho

[2018-12-12 06:35] Erimus-Koo commented on #53
另外，即便设置了'drawOutOfBound': false，仍然有部分字体会超出canvas边界一点点（可能是字体本身问题/或者倾斜角）。
虽然可能可以用mask来限制范围，但如果有一个padding设置，应该更好一些。
比如把现在的origin参数，改成range:[x1,y1,x2,y2]。

[2019-01-02 06:25] SakshiGrover commented on #84
Any update on the SVG markup?

[2019-01-03 13:42] raviraj16 commented on #126
@ammoradi Which library did you use?

[2019-01-03 15:45] ammoradi commented on #126
@raviraj16 i used **[d3-cloud](https://github.com/jasondavies/d3-cloud)** library.
an implementation example could be found [here](https://github.com/ammoradi/persian-wordcloud/tree/master/src/public).

[2019-01-06 03:50] Motorrat commented on #133
Wasn't it the image map that @ZXoho  meant? It is mentioned here https://www.wordclouds.com/faq/

[2019-01-26 17:46] bwl21 opened #138 "it shuffles all the time"
When I go to the demo page ad set shuffle: false, it still shuffles.

[code]

whatever I do the tag cloud looks different with every run ...

[2019-02-07 11:48] gadelkareem opened #139 "Touch event vs click"
The touch event on a mobile device to scroll the screen executes the click event. Any built in solution for this?

[2019-03-04 14:56] bwl21 commented on #18
I went into a similar issue today. I found out, that the ordering of the entries is pretty relevant. It seems the the cloud is built inside out. So it might make sense to place the longest words first.

[2019-03-04 14:58] bwl21 commented on #49
If you would pass the item instead of the word, then further criteria could be provided to the color function. We need something similar.

[2019-04-01 23:55] ORESoftware opened #140 "library from cdn"
can we download this library from a cdn? would be nice to use via cdn instead of npm if possible?

[2019-04-02 01:14] ORESoftware opened #141 "nothing is being displayed in div"
I have this:

[code]

and then this js call:

[code]

the WordCloud() function gets called, but nothing gets displayed, weird

[2019-04-16 11:04] vinzdef commented on #141
@ORESoftware

You need to initialize both a canvas and an HTML container!

[code]
[code]
This works!

[2019-04-17 00:50] WyrdNexus commented on #141
Note: Order is important here.

* HTML _should_ be div first.
* `WordCloud` call _must_ initialize canvas element first.

HTML Element appears to be built from the Canvas element. You can have a canvas without html, but to have an html cloud, you _must_ have a canvas. Either element may be set to `display: none`.

[2019-05-06 02:02] brianpursley commented on #134
I think this occurs when the first word is sort of long and it tries to draw it rotated vertically.

try setting drawOutOfBound: true in the options and see if that helps.  It seemed to help for me.

It would be nice to tell it not to rotate the top word, as I think it looks best when the first word is normal and all the other words around it are rotated or not randomly.

[2019-05-22 09:07] dandv commented on #108
@Tarabyte published https://github.com/Tarabyte/react-wordcloud2. No documentation though.

[2019-06-12 09:46] imricky commented on #56
but when I use the `classess` API  to  change each `span` style, I find it does not work, what should I do?
[code]

[code]

the font-size is still 60px , not 10px

[2019-07-08 11:35] c123dl opened #146 "Is it possible to limit the number of displayed elements ?"
hi,

i want to limit the wordcloud number of displayed elements as my list is long and i want to show only the ones that appear more than others.

is there a way to do this?

[2019-07-11 06:32] c123dl commented on #146
ok, i just made it at my own..

[2019-07-11 06:32] #146 closed, assigned to nobody

[2019-07-16 03:59] 0xinhua opened #147 "react native example"
Hi, is there a react native example ??

[2019-09-01 00:25] AltruistEnterprises commented on #60
When trying to utilizes this feature I have run into some challenges.

It seems that when `item` is passed in to the color callback function it only contains the word and not any other of the array elements. In contrast the item works as expected when passed into the click callback.

This can be seen by editing the example configuration at https://timdream.org/wordcloud2.js/#love with the followin

[2019-09-18 09:21] Lucas-C opened #150 "Feature request : allow for multiple words per label, separated by spaces"
Hi

I am new to the project, but I'd be happy to help implement this.

Do you think this would be doable ? Where to start ?

[2019-10-23 21:07] raefa commented on #60
I had the same issue. In case it helps anyone, here is my workaround. Seems to do the job.

[code]

[2019-10-24 13:30] PeterOeClausen commented on #18
@timdream thank you so much for making this man!

Feedback: I thought "woudclouddrawn" was triggered when the whole cloud was finished drawing, however after reading this thread, it is indeed every time a word is drawn.

Using typescript, one can subscribe to the event like this:

`document.getElementById('wordcloud-canvas-container').addEventListener('wordclouddrawn', (data : any) => this.onWordC

[2019-10-29 08:41] PeterOeClausen commented on #138
@timdream I notice same behavior. And it's a problem in my web app when I want to draw on two canvas with different scales (multiply fontsize by 1 and 2, cause one canvas is 920 x 540 and another is 1920 x 1080).

[2019-10-30 16:26] PeterOeClausen commented on #150
This is already supported. This issue can be closed.

[2019-10-30 16:58] #150 closed, assigned to nobody

[2019-10-31 12:26] PeterOeClausen opened #151 "Using own mask image?"
Hey @timdream,
First of all, thank you for making this 😄

On your website: https://wordcloud2-js.timdream.org under the "Mask image" tab.
It's possible to upload your own image to be used as a mask.
However I can't see a function in the API Docs for this: https://github.com/timdream/wordcloud2.js/blob/gh-pages/API.md

Is this functionality a part of the npm package? Have you forgotten to include i

[2019-11-07 22:11] schroef commented on #84
That would be so useful! Especially for print

[2019-11-09 05:47] timdream commented on #151
It's a quick app I throw together in the demo page. Not part of the library hence not documented on the API.md. You can look at the demo and create your own.

[2019-11-09 05:47] #151 closed, assigned to nobody

[2019-11-09 05:47] timdream commented on #151
Thanks for asking BTW.

[2019-11-11 16:52] PeterOeClausen commented on #151
Thanks! :-)

[2020-01-04 11:49] gettonet opened #152 "How to use image as a mask?"
Hi, I am trying to use the attached image as a mask, so the middle section's not filled. It works in your demo, but I cannot figure out how to implement this on a web page, using only wordcloud2.js. It is a simple rectangle shape, but I obviously cannot use your "shape generator" since the center needs to be excluded from drawing.
Any help is much appreciated.

![bzbz](https://user-images.githubus

[2020-01-08 16:17] PrimozGodec commented on #110
@t0wffeevessy did you succeed to put small words out of the big letters?

[2020-01-11 19:55] cedricwalter commented on #86
I achieve something "close" to responsiveness... work for me at least.

I set a default size
[code]

I used for weight factor something like
[code]
and add a handler on windows resize

[code]

[2020-01-15 04:08] Derrick- commented on #133
If you want legit links, where the desination shows in the browser statusbar, and you can open them in new tab, etc, I did this (requires jQuery, but could be rewritten):

[code]
To preserve the cloud span colors, use this style:
[code]

[2020-02-29 17:44] gabbersepp commented on #141
Is this necessary for some cases or always?
I used the example at https://www.npmjs.com/package/wordcloud (no canvas is mentioned in that readme) and saw the same error.  @vinzdef 's hint helped me.

[2020-03-14 22:12] david-offord opened #153 "Make font expand until taking up entire canvas?"
Currently I have this (excuse the profanity):
![image](https://user-images.githubusercontent.com/55208932/76691244-e7a6bf80-6616-11ea-96e4-003053bc73e7.png)

But I would want the word cloud to take up the entirety of that white space. I have defined the height and weight in css and canvas size. If I increase the canvas after rending obviously the image looks distorted and ugly. Is there any way to

[2020-04-22 22:16] nassausky opened #154 "Autoloading image on page load."
Hi,
I can't seem to figure out how to load the image mask on page load.

[2020-05-12 20:03] nickyreinert commented on #153
I have the same problem, also the other way around: Too many words sometimes lead to words printed outside the canvas. The only way to fix this, AFAIK, is the weightFactor callback: I use the sizeFactor as a custom parameter. The higher it is, the bigger the words are.

`		wcSettings.weightFactor = function (size) {
			return size * canvasWidth() / sizeFactor;
		};
`

What I am missing, too, is a

[2020-05-13 10:58] nickyreinert commented on #134
Set **drawOutOfBound: true** -> you see the word, which is infact to big to fit into the canvas. Or decrease weightFactor, to decrease Font Size.

[2020-05-19 04:09] larrykkk commented on #154
can you provide a small example ?

[2020-07-06 11:54] bigwigal commented on #153
I've worked around this by using HTML rather than canvas and setting the size to something far greater than is needed (like above) and then calculating the bounding box for all elements within, from the bounding box of each of those elements. Once you know that, you can scale/position the container to those dimensions, overflowing the empty surroundings. It's not much more work to add zoom functio

[2020-07-06 12:03] bigwigal opened #157 "Words (elements) overlap in Chrome"
I've noticed that words overlap in the latest version of Chrome when displayed as DOM elements. The problem can be seen on the demo page. I've only seen the issue in Chrome on my PC (Windows 10) so it would be good if someone else could verify on another machine.

**Update**

I've included a couple of screenshots from the demo page of the canvas and 'elements' view (of the same cloud) showing the

[2020-07-09 15:33] Sumaid commented on #153
@timdream Do you have any suggestions regarding this?

[2020-07-09 15:38] Sumaid commented on #153
Similar issue occurs when some words have large weights, like even if 6-7 words have 90%+ weights, they will take up the canvas and other words will disappear.

[2020-07-19 21:35] dvruette commented on #157
Can confirm the same issue on Chromium 83. Using my MacBook on macOS 10.15.5.

[2020-08-12 18:21] caprica commented on #138
I know this issue is old, but a workable solution for this is to use the seedrandom.js library, if I include this in my code I can get repeatable rendering:

        seedRandom('some seed value', { global: true });

This does some magic that seeds the Javascript RNG and requires no code changes in the library code, Math.random() is still used by this library internally.

You can then choose yourse

[2020-09-03 09:21] sasithahtl commented on #78
thanks. saved the day.

[2020-09-27 07:43] VenusTly opened #160 "dom slow loading"
When I change data(30 data), method(setZeroTimeoutMessage) need 30ms+,

[2020-10-02 06:37] jacksgt commented on #133
Thanks for the tip @Derrick- ! I rewrote it in vanilla JS, works like a charm!
[code]

https://blog.cubieserver.de/2020/adding-a-tag-cloud-to-my-hugo-blog/

[2020-11-04 13:21] janfrl commented on #157
Can confirm this for Edge 86 and Firefox 83 on Windows 10, happens more often with Fonts like Candara than Arial using wordcloud2 v1.1.1.

[2020-11-11 13:57] Sachin-DAI commented on #24
Can this feature be merged into main branch if the fix given is apt? or does it require something more? This feature is very much needed for customization.

[2020-11-12 07:28] pranshuagrawal opened #161 "WordCloud not rendering if drawMask is true"
Hi @timdream,

First of all, kudos to you for this amazing library. Everything is working but when I am passing a DIV to the wordcloud and not a canvas the mask is not rendering. Also, when drawMask is set to true, only a couple of words render but the complete wordcloud does not.

I am using v1.1.1 of the package.

[2020-11-17 06:07] timdream commented on #24
Can you submit a pull request?

[2020-11-24 18:55] RaviAsnani commented on #90
Same issue here, can't figure out a solution.

[2020-11-26 13:07] UsamaAliChk opened #162 "WordCloud Size and Shape"
Hi is there any way that I can increase size of word cloud and also is there any way that I can get perfect circular shape??? Please help

[2020-11-30 05:09] WenukaGTX opened #163 "TypeError: Cannot read property 'tagName' of null"
I am trying to implement wordcloud2.js into a ReactJS project as below.

[code]

I am getting the following error.

[code]

I am using the following versions.

[code]

I tried different ways but keep getting the same error.

[2020-12-29 01:17] manufacturedba commented on #163
Your example is missing the DOM representation. I would switch to a selector that does not require uniqueness.

[2021-01-14 03:08] jeffdyke commented on #127
This is literally the most frustrating response to a question or bug report on the internet, it's been a couple years please don't continue this behaviour @jpru, no matter how wrong you may have been. It may still help someone.

[2021-01-23 19:49] vasilzhigilei opened #165 ""Uncaught RangeError: Maximum call stack size exceeded" on small screen sizes"
Uncaught RangeError: Maximum call stack size exceeded
    at getTextInfo (wordcloud2.js:514)
    at putWord (wordcloud2.js:913)
    at putWord (wordcloud2.js:987)
    ...

when wordcloud2 tries to put words into an area on a small screen size. Some of the words do get big in size, and there are a fair number of words. This error lags the mobile device, ruining the UX. Any way to avoid this?

[2021-01-23 20:38] vasilzhigilei commented on #165
Update: Adding abortThreshold: 1000, to options avoids the issue, but it doesn't seem like a very good fix (just aborting after 1 second doesn't seem like the best solution- not all words appear on small screen sizes, but at least the error doesn't get thrown anymore)

[2021-01-24 00:14] vasilzhigilei commented on #118
[code]

with the following in the script before options:
[code]

worked for me to center the div canvas content, with overflow on both sides of the parent div

[2021-02-16 19:21] brandoncc commented on #153
I have this problem as well. I need a high resolution image, so my canvas is 2000 x 2000. The result looks a lot like the original poster's image.

As for making words that are too large fit, I think the `drawOutOfBound` and `shrinkToFit` options would help.

[2021-02-16 19:22] brandoncc commented on #153
@timdream Do you have a solution?

[2021-02-21 19:52] sergotail commented on #121
It's seems there's no need for virtual canvas. As an option, we can rely on minWeight and maxWeight (read: minFontSize and maxFontSize). These values can be calculated according to canvas size, and, if we need to fit longest word into canvas, words list. Then we can scale all the weights in 2 steps:

1. Apply user-defined scaling function, e.g. `log` or `sqrt` to avoid non-linear wegiths distribut

[2021-03-03 03:49] liulianjun1995 opened #168 "Is there a way to use two series?"
when i use two or more series , the word will be overlapping

[2021-03-19 20:36] adrien-poirson opened #172 "Add more data to the callbacks (color, classes and fontWeight )"
Hi !
Thank you for this great wordcloud.
I would like to propose an enhancement for the `color`, `classes` and `fontWeight` callbacks.
Like the hover and click event, I think the other callbacks should all have access to the item data.
Instead of only having `word` and `weight` they should also have access to any additional data we pass in the 2d array.
I already have a PR for it, but I'm not sure

[2021-03-20 01:26] timdream commented on #172
Sounds good as long as there are no breaking changes.

[2021-03-20 01:29] adrien-poirson commented on #172
Sounds good. By the way, do I need write access on the project to open a PR ?

[2021-03-22 16:20] timdream commented on #172
No you do not

[2021-03-24 02:08] timdream commented on #172
Fixed by #173.

[2021-03-24 02:08] #172 closed, assigned to nobody

[2021-03-24 23:29] adrien-poirson commented on #172
Hi there !
Thanks for the quick review and merge.
I'm wondering if I should have increased the version number in the PR.
When I pull the library in my project I don't see the changes I made.

[2021-03-30 06:09] timdream commented on #172
I will push a version soon.

[2021-03-31 01:01] timdream commented on #172
Published 1.2.0.

[2021-04-19 15:11] pageunderconstruction opened #175 "Text being cropped at bottom, although drawOutOfBound is false and shrinkToFit is true"
Text being cropped at bottom, although drawOutOfBound is false and shrinkToFit is true

See example "Higugma" from samples provided on https://wordcloud2-js.timdream.org/

![image](https://user-images.githubusercontent.com/4866099/115259504-dd17fd00-a129-11eb-8679-aab87aa1459c.png)

[2021-05-03 16:41] havardl opened #176 "Refresh or redraw with new words dynamically"
Hi, thanks for a great library!

I was just wondering how I can redraw the cloud with new words dynamically? There doesn't seem to be a update function, or am I missing something?

[2021-05-04 16:12] exemmer commented on #176
Server Sent Events is an easy method.
https://www.html5rocks.com/en/tutorials/eventsource/basics/

[2021-05-28 08:35] pranshuagrawal commented on #153
@timdream any suggestions on this?

[2021-06-01 01:30] yuhongda commented on #153
If you just want to fill the canvas, I think you can just repeat the word list. Note that the font size of the repeat words needs to be smaller than the original list.

[2021-06-22 16:49] virilo opened #179 "Word wrap"
Would it be possible to activate a word wrap break-down in order to insert a newline between words, when the tag label is using more area than the canvas width?

So, instead of shrinking the label "Indians of North America", break the text in two lines:
"Indians of
North America"

Thanks in advance

[2021-06-22 18:13] virilo commented on #179
I tried to force this behavior by introducing a `\n` or a `<br/>` but neither of them worked.

[2021-07-13 08:05] bettysteger commented on #138
@bwl21 have you found any solution?

[2021-09-27 19:03] mandarkamat opened #180 "Internet Explorer 11"
Hi ....Not able to view the WordCloud on IE 11.

[2021-10-30 19:22] ntsd commented on #138
I fixed seed by overriding `Math.random` function

[code]

for other random algorithms can find it https://stackoverflow.com/questions/521295/seeding-the-random-number-generator-in-javascript

If you have a plan to use built-in Math.random after

I recommend doing something like this

[code]

[2021-11-03 03:50] blueMountain007 opened #181 "Text is truncated"
![image](https://user-images.githubusercontent.com/16400882/140007692-30afbf9c-58a5-427f-ae5e-93153d768c0d.png)

[2021-12-31 02:55] Landon-CN commented on #181
+1

[2022-04-08 20:10] rsa408 opened #189 "Uncaught TypeError: ..... Value is not of type 'long'."
The error
[code]

code:

[code]

[2022-04-16 12:54] TheLeftovers0 commented on #94
@RidleyDeckard
Set `clearCanvas: false,`

[2022-04-28 03:31] huahuahu opened #191 "No type for version 1.2.2"
The [latest](https://www.npmjs.com/package/@types/wordcloud) @types/wordcloud is 1.1.3.
<img width="874" alt="image" src="https://user-images.githubusercontent.com/5757671/165670822-915b5986-bcd3-4404-9072-bd9eafab50b4.png">

The latest version for wordcloud is 1.2.2

[2022-06-12 18:12] frbju opened #194 "First words aligned"
Hi, Thanks for this awesome project.
Would it somehow be possible to align the first 3 words like this and then scatter the rest around it?
![text-layout](https://user-images.githubusercontent.com/55388455/173247291-533ab140-2afb-4d3f-b27f-35a8395ff93c.jpg)

Best / F

[2022-07-09 07:47] mohammad-hormati commented on #152
I have the same problem and I don't know what to do
I was hoping to find a solution here

[2022-07-09 13:54] mohammad-hormati commented on #94
i have the same problem , Can anyone tell me how to implement it in React? @timdream [timdream](https://github.com/timdream)

[2022-07-12 06:23] roopeshshettyb commented on #24
Bumping this thread, @rse could you raise the pull request please?

[2022-08-02 19:34] newjie opened #195 "How to randomize the filling order?"
By default, the center area of the container are always filled first, followed by outer space. How can I randomize this order? For example, if I set the origin to be [50,50], the first word could appear at [0,0] and the second [100,100].

[2022-08-19 03:15] yuhongda commented on #195
change the font size everytime could be help. 👻

[2022-08-20 19:27] newjie commented on #195
I don't see how changing font size has to do with this..

[2022-08-25 11:23] yuhongda commented on #195
Although, changing the font size can effect the position of each text slightly. You can random the text list order in the meantime.

[2022-08-30 19:40] randyburden commented on #140
Every library available on npm is also available via the CDN on jsDelivr:
 - [wordcloud on npm](https://www.npmjs.com/package/wordcloud)
 - [wordcloud on jsdelivr](https://www.jsdelivr.com/package/npm/wordcloud)
 - [wordcloud2.min.js v1.2.2 on jsdelivr](https://cdn.jsdelivr.net/npm/wordcloud@1.2.2/src/wordcloud2.min.js)

[2022-10-06 12:54] Sneffel opened #196 "How do I change Device pixel density (dppx)?"
![Screenshot 2022-10-06 at 14-52-24 wordcloud2 js - tag cloud_Wordle presentation on 2D canvas or HTML](https://user-images.githubusercontent.com/9219144/194317776-87688640-1da8-4730-b710-f331581447cc.png)
I want to choose this on my website, as with the current settings it's blurred.

I hate the fact that it's been only referenced once
![Screenshot 2022-10-06 at 14-56-56 site https __github com_t

[2022-10-07 11:36] Sneffel opened #197 "Canvas not filled on Chromium"
[code]

In Chromium the frame ins't filled yet it is on Firefox. Very different spacing

[2022-11-05 05:55] gunjan-jha opened #198 "can you please add example for how to add mouse events"

[2022-11-10 11:30] gunjan-jha opened #199 "How can we rotate the text to specific angle?"

[2022-11-15 08:47] gunjan-jha opened #200 "How we can add background color to the masked image"